<!-- footer area start -->
<footer class="main-footer pt-80">
    <div class="container">
        <div class="row justify-content-xl-between justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="footer-widget widget_about me-md-5 wow fadeInUp delay-0-2s">
                    <div class="footer-logo mb-25">
                        <a href="{{ url_for('index') }}"><img
                                src="{{ url_for('static', filename='assets/images/logos/logo-techconsulting.svg') }}"
                                alt="Logo" style="width: 100px" />

                            TECH CONSULTING
                        </a>
                    </div>
                    <p>
                        Satisfacemos las demandas de su negocio mediante la ejecución de nuestros procesos
                        estratégicamente planificados para ofrecer sitios web y aplicaciones personalizados de primera
                        línea.
                    </p>
                    <div class="social-style-two pt-5">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                    <h4 class="footer-title">Accesos rápidos</h4>
                    <ul class="list-style-two">
                        <li>
                            <a href="{{ url_for('services.details') }}">Diseño web (UI/UX)</a>
                        </li>
                        <li>
                            <a href="{{ url_for('pages.about_us') }}">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Desarrollo web</a>
                        </li>
                        <li><a href="team.html">Conoce a nuestro equipo</a></li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Optimización de SEO</a>
                        </li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Casos de uso</a>
                        </li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Ingeniería de productos</a>
                        </li>
                        <li><a href="blog.html">Últimas noticias</a></li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Soporte técnico</a>
                        </li>
                        <li><a href="contact.html">Contacto</a></li>
                        <li>
                            <a href="{{ url_for('services.details') }}">Diseños de páginas principales</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="footer-widget widget_newsletter wow fadeInUp delay-0-6s">
                    <h4 class="footer-title">Noticias</h4>
                    <p>Registrate para recibiar noticias</p>
                    <form action="#">
                        <input type="email" placeholder="Escribir correo electrónico" required />
                        <button class="theme-btn">
                            Siscribirse ahora <i class="fas fa-angle-double-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom mt-30 pt-25 pb-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright-text text-center text-lg-start">
                        <p>© Copyright 2024 Tech Consulting. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-bottom-menu mb-10 text-center text-lg-end">
                        <ul>
                            <li><a href="/pages/terminos_condiciones">terminos y condiciones</a></li>
                            <li><a href="/pages/about-us">sobre nosotros</a></li>
                            <li><a href="/pages/faqs">preguntas frecuentes</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Scroll Top Button -->
            <button class="scroll-top scroll-to-target" data-target="html">
                <span class="fas fa-angle-double-up"></span>
            </button>
        </div>
    </div>
</footer>
<!-- footer area end -->