<!-- main header -->
<header class="main-header header-three menu-absolute">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container-fluid clearfix">
            <div class="header-inner rel d-flex align-items-center">
                <div class="logo-outer">
                    <div class="logo">
                        <a href="{{ url_for('admin') }}">
                            <img src="{{ url_for('static', filename='assets/images/logos/logo-techconsulting.svg') }}"
                                alt="Logo" title="Logo" />
                            TECH CONSULTING
                        </a>
                    </div>
                </div>

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <div class="mobile-logo my-15">
                                <a href="{{ url_for('admin') }}">
                                    <img src="{{ url_for('static', filename='assets/images/logos/logo-techconsulting.svg') }}"
                                        alt="Logo" title="Logo" style="width: 50px" /> <br />
                                    <span style="font-size: 0.7rem">TECH CONSULTING</span>
                                </a>
                            </div>

                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="">
                                    <a href="{{ url_for('admin') }}">Inicio</a>
                                </li>
                                <li class="">
                                    <a href="{{ url_for('productos_crud.productos_crud_template') }}">Productos</a>
                                </li>
                                <li class="">
                                    <a href="{{ url_for('user_crud.user_crud_template') }}">Usuarios</a>
                                </li>
                                <li class="">
                                    <a href="{{ url_for('dashboard.dashboard_template') }}">Dashboard</a>
                                </li>
                                <li class="perfil-header-options">
                                    <a href="{{ url_for('pages.contacto_template') }}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>

                <!-- Menu Button -->
                <div class="menu-btns">
                    <!-- User -->
                    <div>
                        <a
                            class="text-reset d-flex align-items-center hidden-arrow gap-2 login profile-header-btn btn-toggle-profile-modal">
                            <span>{{ session.get('username', 'Admin') }}</span>

                            {% if user_without_images %}
                            <i class="material-icons">person</i>
                            {% else %}
                            <div class="header-card__container">
                                <img alt="Profile Picture"
                                    src="{{ session['user_image_url'] if session.get('user_image_url', False) else url_for('user_crud.obtener_imagen_usuario', id_usuario=session['user_id']) }}">
                            </div>
                            {% endif %}
                        </a>
                    </div>
                    <!-- End User -->   
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Profile Modal -->
    {% include 'components/admin-profile-modal.html' %}
    <!-- End Profile Modal -->
</header>