{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Sobre Nosotros {% endblock %}

{% block styles %}
{{super()}}
{% endblock styles %}

{% block content %}

  {% block page_banner %}
    {% set pre_page_title = 'Sobre' %}
    {% set page_title_underline = 'Nosotros' %}

    {% include 'components/page-banner.html' %}
  {% endblock page_banner %}


<!-- What We Do Two Area start -->
<section class="ww-do-two-area py-130 rel z-1">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="ww-do-two-content rmb-65 wow fadeInUp delay-0-2s">
          <div class="section-title mb-30">
            <span class="sub-title style-two mb-15">¿Qué hacemos?</span>
            <h2>Somos un equipo digital profesional</h2>
          </div>
          <p>
            Somos expertos en crear software y ofrecer servicios 
            personalizados. Con nuestro equipo digital, puedes construir tu 
            sitio web desde cero o personalizarlo según tus necesidades. 
            Destaca con fondos de video y lleva tu presencia en línea al siguiente nivel.
          </p>
          <div class="row pt-15">
            <div class="col-sm-6">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Personalizar sitio web</h5>
                <p>
                  Elija una plantilla, personalice cualquier respuesta o pregunta, 
                  diseño de sitio web solo para usted.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Diseño premium</h5>
                <p>
                  Inicie su propio blog, agregue una tienda en línea 
                  y acepte reservas en línea siempre.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="ww-do-btns">
            <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15">Crea tu sitio web
              <i class="fas fa-angle-double-right"></i></a>
            <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play-text mt-15"><i
                class="fas fa-play"></i> <span>Watch Videos</span></a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="ww-do-two-images rel">
          <div class="row">
            <div class="col-sm-7 offset-1">
              <img class="image-one wow fadeInUp delay-0-4s"
                src="{{ url_for('static', filename='assets/images/about/example 3.jpg') }}" alt="What We Do" />
            </div>
            <div class="col-sm-4">
              <img class="image-two wow fadeInUp delay-0-6s"
                src="{{ url_for('static', filename='assets/images/about/example 1.jpg') }}" alt="What We Do" />
              <img class="image-three wow fadeInUp delay-0-8s"
                src="{{ url_for('static', filename='assets/images/about/example 2.jpg') }}" alt="What We Do" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- What We Do Two Area end -->

<!-- Statistics Four Area start -->
<div class="statistics-area-four rel z-1">
  <div class="container">
    <div class="statistics-four-counters bgs-cover bgc-lighter" style="
              background-image: url({{ url_for('static', filename='assets/images/background/counter-bg.png') }});
            ">
      <div class="row medium-gap">
        <div class="col-xl-3 col-sm-6">
          <div class="counter-item mt-30 counter-text-wrap wow fadeInLeft delay-0-2s">
            <i class="flaticon-startup"></i>
            <span class="count-text" data-speed="3000" data-stop="2365">0</span>
            <span class="counter-title">Proyectos</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-4s">
            <i class="flaticon-global"></i>
            <span class="count-text" data-speed="3000" data-stop="9632">0</span>
            <span class="counter-title">Clientes de Confianza</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-item mt-20 counter-text-wrap wow fadeInLeft delay-0-6s">
            <i class="flaticon-rating"></i>
            <span class="count-text" data-speed="3000" data-stop="8504">0</span>
            <span class="counter-title">Miembros del equipo</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-8s">
            <i class="flaticon-trophy"></i>
            <span class="count-text" data-speed="3000" data-stop="6763">0</span>
            <span class="counter-title">P. Completados</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Statistics Four Area end -->

<!-- Team Area start -->
<section class="team-slider-area pt-210 pb-130 rel z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center mb-50">
          <span class="sub-title style-two mb-15">Equipo increíble</span>
          <h2>Tenemos miembros con mucha experiencia
        </div>
      </div>
    </div>
    <div class="team-slider-active">
      <div class="team-member wow fadeInUp delay-0-2s">
        <div class="image">
          <img src="{{ url_for('static', filename='assets/images/team/genesis.jpg') }}" alt="Member" style="width: 180px; height: 180px;" />
        </div>
        <div class="content">
          <h5><a href="team-profile.html">Génesis Uriel Yair Cruz Hernández</a></h5>
          <span class="designation">Gestión de Proyecto</span>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="team-member wow fadeInUp delay-0-4s">
        <div class="image">
          <img src="{{ url_for('static', filename='assets/images/team/daniel.jpg') }}" alt="Member" style="width: 180px; height: 180px;" />
        </div>
        <div class="content">
          <h5><a href="team-profile.html">Daniel Chaparro Marín</a></h5>
          <span class="designation">Líder técnico</span>
          <br>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="team-member wow fadeInUp delay-0-6s">
        <div class="image">
          <img src="{{ url_for('static', filename='assets/images/team/brandon.jpg') }}" alt="Member"  style="width: 180px; height: 180px;"/>
        </div>
        <div class="content">
          <h5><a href="team-profile.html">Brandon Campos Figueroa</a></h5>
          <span class="designation">Desarrolador</span>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="team-member wow fadeInUp delay-0-8s">
        <div class="image">
          <img src="{{ url_for('static', filename='assets/images/team/brandon cortes.jpg') }}" alt="Member" style="width: 180px; height: 180px;"/>
        </div>
        <div class="content">
          <h5><a href="team-profile.html">Brandon Cortés Islas </a></h5>
          <span class="designation">Desarrolador</span>
          <br>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Area end -->

<!-- Feature Six Area start -->

<section class="freature-area-six rel z-2" style="margin-bottom: 300px;">
  <div class="container">
    <div class="feature-six-inner bgs-cover bgc-primary" style="
              background-image: url(assets/images/background/freature-bg-line.png);
            ">
      <div class="row">
        <div class="col-lg-6">
          <div class="feature-item-three wow fadeInRight delay-0-3s">
            <i class="flaticon-technical-support"></i>
            <div class="content">
              <h4>Personaliza tu Web</h4>
              <p>
                Sit amet consectetur adipiscing sed eiusmod tempor
                incididunt labore et dolore magnaes epsums
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item-three color-two wow fadeInRight delay-0-5s">
            <i class="flaticon-app-development"></i>
            <div class="content">
              <h4>Edita la Vista Móvil</h4>
              <p>
                Sit amet consectetur adipiscing sed eiusmod tempor
                incididunt labore et dolore magnaes epsums
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item-three color-three wow fadeInRight delay-0-4s">
            <i class="flaticon-settings"></i>
            <div class="content">
              <h4>Funcionalidades Avanzadas</h4>
              <p>
                Sit amet consectetur adipiscing sed eiusmod tempor
                incididunt labore et dolore magnaes epsums
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item-three color-four wow fadeInRight delay-0-6s">
            <i class="flaticon-optimization"></i>
            <div class="content">
              <h4>Optimiza tu Web</h4>
              <p>
                Sit amet consectetur adipiscing sed eiusmod tempor
                incididunt labore et dolore magnaes epsums
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Six Area end -->

{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock content %}