{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Checkout {% endblock %}

{% block scripts %}
{{super()}}
<script
    src="https://www.paypal.com/sdk/js?client-id=AR1h_N3kkC82rhVnTnW9nVWYyG7C35Ryl-3l6aM44B-ZPpPHDqpAvQDgVgAa-Hs019lYWxbDANz9PcZS&currency=MXN&locale=es_MX"></script>
<script src="{{ url_for('static', filename='modules/js/checkout/paypal.js') }}" defer></script>
<script src="{{ url_for('static', filename='modules/js/product-details/notifications.js') }}" defer></script>

<script>
    const CHECKOUT_TOTAL = parseFloat('{{ total }}');
    const USER_ID = parseInt('{{ user_id }}');
    const PRODUCTS = JSON.parse('{{ productos|tojson|safe }}');
    const BUY_URL = '{{ url_for("compras.buy") }}'
    const MIS_COMPRAS_URL = '{{ url_for("compras.mi_compras_template") }}';
</script>
{% endblock scripts %}

{% block content %}

<!-- Checkout Form Area Start -->
<div class="checkout-form-area py-130">
    <div class="container">
        <div class="checkout-faqs" id="checkout-faqs">
            <div class="alert bgc-lighter wow fadeInUp delay-0-2s">
                <h6>Select Your <a href="#" class="collapsed card-header" data-bs-toggle="collapse"
                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5"> Payment Method</a>
                </h6>
                <div id="collapse5" class="collapse content show">
                    <div class="payment-cart-total pt-25">
                        <div class="row justify-content-between">
                            <div class="col-lg-6">
                                <div class="payment-method rmb-30">
                                    <h5 class="mb-20">Payment Method</h5>
                                    <ul id="paymentMethod" class="mb-30">
                                        <!-- Default unchecked -->
                                        <li class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="method-paypal"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label collapsed" for="method-paypal"
                                                data-bs-toggle="collapse" data-bs-target="#collapsethree"
                                                aria-controls="collapsethree">Paypal <i
                                                    class="fab fa-cc-paypal"></i></label>

                                            <div id="collapsethree" class="collapse" data-bs-parent="#paymentMethod">
                                                <p>Paga via Payapal.</p>
                                            </div>

                                        </li>
                                    </ul>
                                    <p>Tu información personal sera recolectada y utilizada conforme a nuestras
                                        políticas de privacidad y condiciones de uso.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="shoping-cart-total text-left mb-20">
                                    <h5 class="text-center mb-20">Cart Totals</h5>
                                    <table>
                                        <tbody>
                                            {% for product in productos %}
                                            <tr>
                                                <td>{{ product.titulo }} <strong>× {{ product.cantidad }}</strong></td>
                                                <td>${{ product.subtotal }}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>IVA</td>
                                                <td>${{ iva }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td><strong>${{ total }}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-btn__container" id="paypal__container">
                <div id="paypal-button-container"></div>
            </div>
            {% include 'components/bar-loader.html' %}
        </div>
    </div>
</div>
<!-- Checkout Form Area End -->



{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock content %}