{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Checkout {% endblock %}

{% block content %}

<!-- Checkout Form Area Start -->
<div class="checkout-form-area py-130">
    <div class="container">
        <div class="checkout-faqs" id="checkout-faqs">
            <div class="alert bgc-lighter wow fadeInUp delay-0-2s">
                <h6>Select Your <a href="#" class="collapsed card-header" data-bs-toggle="collapse"
                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5"> Payment Method</a>
                </h6>
                <div id="collapse5" class="collapse content show">
                    <div class="payment-cart-total pt-25">
                        <div class="row justify-content-between">
                            <div class="col-lg-6">
                                <div class="payment-method rmb-30">
                                    <h5 class="mb-20">Payment Method</h5>
                                    <ul id="paymentMethod" class="mb-30">
                                        <!-- Default unchecked -->
                                        <li class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="methodthree"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label collapsed" for="methodthree"
                                                data-bs-toggle="collapse" data-bs-target="#collapsethree"
                                                aria-controls="collapsethree">Paypal <i
                                                    class="fab fa-cc-paypal"></i></label>

                                            <div id="collapsethree" class="collapse" data-bs-parent="#paymentMethod"
                                                style="">
                                                <p>Paga via Payapal.</p>
                                            </div>

                                        </li>
                                    </ul>
                                    <p>Your personal data will be used to process your order, support your experience
                                        throughout this website, and for other purposes described in our privacy policy.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="shoping-cart-total text-left mb-20">
                                    <h5 class="text-center mb-20">Cart Totals</h5>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Fitness UI Kits <strong>× 1</strong></td>
                                                <td>$70.00</td>
                                            </tr>
                                            <tr>
                                                <td>Dashboard UI <strong>× 2</strong></td>
                                                <td>$130.00</td>
                                            </tr>
                                            <tr>
                                                <td>Shipping Fee</td>
                                                <td>$10.00</td>
                                            </tr>
                                            <tr>
                                                <td>Vat</td>
                                                <td>$5.00</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Order Total</strong></td>
                                                <td><strong>$225.00</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="theme-btn w-100">Place order <i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>
</div>
<!-- Checkout Form Area End -->



{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock content %}