<div class="page-wrapper">
    <!-- Page Banner Start -->
    <section class="page-banner-area pt-245 rpt-150 pb-170 rpb-100 rel z-1 bgc-lighter text-center">
        <div class="container">
            <div class="banner-inner rpt-10">
                <h1 class="page-title wow fadeInUp delay-0-2s">Conta<span>ct Us</span></h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                        <li class="breadcrumb-item active">Contacto</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="banner-shapes">
            <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
            <img class="shape-one" src="{{ url_for('static', filename='assets/images/shapes/hero-shape1.png') }}"
                alt="Shape" />
            <img class="shape-two" src="{{ url_for('static', filename='assets/images/shapes/hero-shape2.png') }}"
                alt="Shape" />
        </div>
    </section>
    <!-- Page Banner End -->


    <!-- Contact Us Page Area start -->
    <section class="contact-us-page-area py-130">
        <div class="container">
            <div class="row align-items-end justify-content-between">
                <div class="col-lg-7">
                    <div class="contact-content rmb-65 wow fadeInRight delay-0-2s">
                        <div class="section-title mb-25">
                            <span class="sub-title style-two mb-15">Contáctenos</span>
                            <h2>¡Comencemos un nuevo proyecto o trabajemos juntos! Contacta con nosotros</h2>
                        </div>
                        <p>Puedes contactarte con nuestro equipo de trabajo mediante correo electrónico o, si te
                            apetece, puedes mandarnos un mensaje vía WhatsApp. 
                        </p>
                        <form id="contactForm" class="contactForm z-1 rel" action="assets/php/form-process.php"
                            name="contactForm" method="post">
                            <div class="row pt-15">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <input type="text" id="name" name="name" class="form-control" value=""
                                            placeholder="Michael C. Coleman" required
                                            data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="email" id="email" name="email" class="form-control" value=""
                                            placeholder="support@gmail.com" required
                                            data-error="Please enter your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input type="text" id="phone" name="phone" class="form-control" value=""
                                            placeholder="+000 (123) 456 88">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-30">
                                    <div class="form-group">
                                        <label for="select-subject">Select Requirments</label>
                                        <select name="select-subject" id="select-subject">
                                            <option value="default" selected="">Website customize</option>
                                            <option value="Design">Design</option>
                                            <option value="Development">Development</option>
                                            <option value="SEO">SEO</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="message">Write Message</label>
                                        <textarea name="message" id="message" class="form-control" rows="4"
                                            placeholder="Write Message" required
                                            data-error="Please enter your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group pt-5 mb-0">
                                        <button type="submit" class="theme-btn w-100">Send Message <i
                                                class="fas fa-angle-double-right"></i></button>
                                        <div id="msgSubmit" class="hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="contact-info wow fadeInLeft delay-0-2s">
                        <div class="contact-info-item style-two">
                            <div class="icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="content">
                                <span class="title">Location</span>
                                <span class="text">55 Main Street, 2nd Floor, E-Block, New York</span>
                            </div>
                        </div>
                        <div class="contact-info-item style-two">
                            <div class="icon">
                                <i class="far fa-envelope-open-text"></i>
                            </div>
                            <div class="content">
                                <span class="title">email address</span>
                                <span class="text">
                                    <a href="mailto:support@gmail.com">supportweb@gmail.com</a><br>
                                    <a href="mailto:websitebuilding.net">websitebuilding.net</a>
                                </span>
                            </div>
                        </div>
                        <div class="contact-info-item style-two">
                            <div class="icon">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="content">
                                <span class="title">Phone Number</span>
                                <span class="text">
                                    Call <a href="calto:+000(123)45688">+000 (123) 456 88</a><br>
                                    Whatsapp : +9632145789
                                </span>
                            </div>
                        </div>
                        <div class="follow-us">
                            <h4>Follow Us</h4>
                            <div class="social-style-two">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Page Area end -->


    <!-- Our Location Address Area start -->
    <section class="our-location-address-area rel z-1">
        <div class="container">
            <div class="row medium-gap justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="location-address-item wow fadeInUp delay-0-2s">
                        <div class="top-part">
                            <img src="assets/images/contact/location1.png" alt="Location">
                            <h5>New York</h5>
                        </div>
                        <div class="bottom-part">
                            <ul>
                                <li><i class="fal fa-map-marker-alt"></i> 55 Main Street, New York</li>
                                <li><i class="far fa-envelope-open-text"></i> support@gmail.com</li>
                                <li><i class="far fa-phone"></i> +000 (123) 456 88</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="location-address-item wow fadeInUp delay-0-4s">
                        <div class="top-part">
                            <img src="assets/images/contact/location2.png" alt="Location">
                            <h5>Australia Capital</h5>
                        </div>
                        <div class="bottom-part">
                            <ul>
                                <li><i class="fal fa-map-marker-alt"></i> 55 Main Street, New York</li>
                                <li><i class="far fa-envelope-open-text"></i> support@gmail.com</li>
                                <li><i class="far fa-phone"></i> +000 (123) 456 88</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="location-address-item wow fadeInUp delay-0-6s">
                        <div class="top-part">
                            <img src="assets/images/contact/location3.png" alt="Location">
                            <h5>South Africa</h5>
                        </div>
                        <div class="bottom-part">
                            <ul>
                                <li><i class="fal fa-map-marker-alt"></i> 55 Main Street, New York</li>
                                <li><i class="far fa-envelope-open-text"></i> support@gmail.com</li>
                                <li><i class="far fa-phone"></i> +000 (123) 456 88</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Location Address Area end -->


    <!-- Location Map Area Start -->
    <div class="contact-page-map wow fadeInUp delay-0-2s">
        <div class="our-location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m12!1m10!1m3!1d142190.2862584524!2d-74.01298319978558!3d40.721725351435126!2m1!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbd!4v1663473911885!5m2!1sen!2sbd"
                style="border:0; width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- Location Map Area End -->


    <!-- Call to Action Area start -->
    <section class="call-to-action-area bgc-black pt-80 pb-50">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-7 col-lg-9">
                    <div class="section-title text-white mb-25 wow fadeInUp delay-0-2s">
                        <h2>Let’s Design Your New Website</h2>
                        <p>Do you want to have a website that stands out and impresses your clients? Then we are ready
                            to help! Click the button below to contact us and discuss your ideas.</p>
                    </div>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <a href="contact.html" class="theme-btn style-two mb-30 wow fadeInUp delay-0-4s">Let’s Get Started
                        <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action Area End -->


    <!-- footer area start -->
    <footer class="main-footer pt-80">
        <div class="container">
            <div class="row justify-content-xl-between justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="footer-widget widget_about me-md-5 wow fadeInUp delay-0-2s">
                        <div class="footer-logo mb-25">
                            <a href="index.html"><img src="assets/images/logos/logo-three.png" alt="Logo"></a>
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremq dantium,
                            totam rem aperiam eaqu quae ab illo inventore veritatis et quasi architecto beatae</p>
                        <div class="social-style-two pt-5">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                        <h4 class="footer-title">Quick Links</h4>
                        <ul class="list-style-two">
                            <li><a href="service-details.html">Wed Design (UI/UX)</a></li>
                            <li><a href="about.html">About company</a></li>
                            <li><a href="service-details.html">Web development</a></li>
                            <li><a href="team.html">Meet our teams</a></li>
                            <li><a href="service-details.html">SEO Optimization</a></li>
                            <li><a href="service-details.html">Case Stories</a></li>
                            <li><a href="service-details.html">Product Engineering</a></li>
                            <li><a href="blog.html">Latest News</a></li>
                            <li><a href="service-details.html">Technical Support</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="service-details.html">Landing Pages Design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-8">
                    <div class="footer-widget widget_newsletter wow fadeInUp delay-0-6s">
                        <h4 class="footer-title">Newsletter</h4>
                        <p>Sing up to get more every updates</p>
                        <form action="#">
                            <input type="email" placeholder="Enter email" required>
                            <button class="theme-btn">Subscribe Now <i class="fas fa-angle-double-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom mt-30 pt-25 pb-10">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="copyright-text text-center text-lg-start">
                            <p>© Copyright 2022 Oxence. All right reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-bottom-menu mb-10 text-center text-lg-end">
                            <ul>
                                <li><a href="#">Setting & Privacy</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Scroll Top Button -->
                <button class="scroll-top scroll-to-target" data-target="html"><span
                        class="fas fa-angle-double-up"></span></button>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

</div>