{% extends 'layout/base.html' %} 

{% block content %}

{% block page_banner %}
  {% set pre_page_title = 'Preguntas' %}
  {% set page_title_underline = 'Frecuentes' %}
  
  {% include 'components/page-banner.html' %}
{% endblock page_banner %}


        <!-- FAQ Page About Area start -->
        <section class="faq-page-about-area pt-130">
            <div class="container">
                <div class="row large-gap justify-content-center align-items-center pb-115">
                    <div class="col-xl-5 col-lg-6">
                        <div class="faq-page-content rmb-65 wow fadeInRight delay-0-2s">
                            <div class="section-title mb-25">
                                <span class="sub-title style-two mb-15">Finding Help</span>
                                <h2>How Can We Help</h2>
                            </div>
                            <p>Start building your first prototype in no time. Ogency intuitive drag & drop interface gives you all the building blocks that you need to get started! No skills required.</p>
                            <form action="#" class="faq-search-form mt-40 mb-20">
                                <label for="search"><i class="far fa-search"></i></label>
                                <input type="text" id="search" placeholder="Find your category" required>
                                <button type="submit"><i class="fas fa-chevron-right"></i></button>
                            </form>
                            <p><b>Suggestions:</b> Dashboard, Payments, Refunds, Delivery</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-page-image wow fadeInLeft delay-0-2s">
                            <img src="{{ url_for('static', filename='assets/images/faqs/faq-page.jpg') }}" alt="FAQs">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>
        <!-- FAQ Page About Area end -->
        
        
        <!-- Services Area start -->
        <section class="services-area-five pt-115 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                            <span class="sub-title style-two mb-20">What We Offer</span>
                            <h2>Choose Your Topic</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-2s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon1.png') }}" alt="Icon">
                            </div>
                            <h4>Managing Account</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-4s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon2.png') }}" alt="Icon">
                            </div>
                            <h4>Business Develop</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-6s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon3.png') }}" alt="Icon">
                            </div>
                            <h4>Refund Policy</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-2s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon4.png') }}" alt="Icon">
                            </div>
                            <h4>Payment Options</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-4s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon5.png') }}" alt="Icon">
                            </div>
                            <h4>Delivery Information</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="service-item-five wow fadeInUp delay-0-6s">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/services/icon6.png') }}" alt="Icon">
                            </div>
                            <h4>Affiliate Program</h4>
                            <p>Start building your first prototypeno time Ogency intuitive, drag drop interface gives building blocks that you needs</p>
                            <a href="service-details.html" class="theme-btn style-three">Learn More <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area end -->
        
        
        <!-- FAQs Page Area start -->
        <section class="faqs-area-area bgc-lighter py-130 rel z-1">
            <div class="container">
                <div class="row justify-content-between align-items-end pb-5">
                    <div class="col-xl-6 col-lg-8 wow fadeInUp delay-0-2s">
                        <div class="section-title mb-35">
                            <span class="sub-title style-two mb-15">Faqs</span>
                            <h2>Asked Questions about Website Design</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-end wow fadeInUp delay-0-4s">
                        <a href="contact.html" class="theme-btn style-three mb-55">Add Questions <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="accordion style-two" id="faq-accordion">
                    <div class="row">
                        <div class="col-lg-6 rmb-20 wow fadeInUp delay-0-2s">
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                        Will you  provide website layout about design ?
                                    </button>
                                </h5>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam eaquey quae abillo inventore</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                        How much does cost to design website ?
                                    </button>
                                </h5>
                                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                        How many revisions can i make the  design ?
                                    </button>
                                </h5>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam eaquey quae abillo inventore</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                        Can i uplode this  design in my personal work?
                                    </button>
                                </h5>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam eaquey quae abillo inventore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp delay-0-4s">
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                        How long will delivery take ?
                                    </button>
                                </h5>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                                        Do you have discounts for returning customers ?
                                    </button>
                                </h5>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
                                        Will you  provide website layout about design ?
                                    </button>
                                </h5>
                                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight">
                                        What payment methods do you accept ?
                                    </button>
                                </h5>
                                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseNine">
                                        How do your referral program work ?
                                    </button>
                                </h5>
                                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p>Fortunately, we aren’t just designers and developers here we are writer strategists, techs and creatives working towards the same end goal our client’s success. As a full-service digital marketing agency</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQs Page Area end -->
        
        
        {% block get_started %}
        {% include 'components/get_started.html' %}
        {% endblock get_started %}
    
{% endblock content %}