{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Inicio {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='modules/styles/index.css') }}">
{% endblock styles %}

{% block content %}
<!-- Hero Section Start -->
<section class="hero-area-three pt-210 rpt-150 rel z-1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <div class="hero-content-three text-center pt-10 mb-40 wow fadeInUp delay-0-2s">
                    <h1>Debutamos tu <span>Website</span> ¡Mejora tu negocio!</h1>
                    <p>
                        Impulsa tu negocio con un sitio web que combina estética moderna, funcionalidad intuitiva y
                        optimización SEO. Nos especializamos en crear soluciones web a medida que elevan tu marca y
                        conectan con tu audiencia. Transforma tu presencia online con nosotros.
                    </p>
                    <div class="hero-btns pt-5 wow fadeInUp delay-0-4s">
                        <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15">Crear un sitio web
                            <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-three-image wow fadeInUp delay-0-6s">
            <img src="{{ url_for('static', filename='assets/images/hero/hero-three.png') }}" alt="Hero" />
        </div>
    </div>
    <div class="hero-three-shapes">
        <div class="angle wow slideInDown delay-0-2s"></div>
        <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
        <img class="shape-one" src="{{ url_for('static', filename='assets/images/shapes/hero-shape1.png') }}"
            alt="Shape" />
        <img class="shape-two" src="{{ url_for('static', filename='assets/images/shapes/hero-shape2.png') }}"
            alt="Shape" />
    </div>
</section>
<!-- Hero Section End -->

<!-- Features Area start -->
<section class="features-area-two pt-130 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two mt-60 wow fadeInUp delay-0-2s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>20+ UI <br />Componentes</h4>
                    <p>
                        Diseña experiencias únicas con herramientas que impulsan la creatividad.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-two wow fadeInUp delay-0-4s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>100+ <br />Plantillas web</h4>
                    <p>
                        Plantillas web versátiles que transforman tu visión en realidad con estilo y funcionalidad.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-three mt-60 wow fadeInUp delay-0-6s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>200+ <br />Asesoriamiento Digital</h4>
                    <p>
                        Asesoramiento digital experto para guiar tu camino hacia el éxito en el mundo online.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-four wow fadeInUp delay-0-8s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>504+ <br />Complementos Personalizados</h4>
                    <p>
                        Complementos personalizados que enriquecen tu sitio, potenciando interactividad y rendimiento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Area end -->

<!-- What We Do Area start -->
<section class="ww-do-area pt-100 pb-130 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="ww-do-content rmb-65">
                    <div class="section-title mb-40 wow fadeInRight delay-0-2s">
                        <span class="sub-title style-two mb-15">Lo que hacemos</span>
                        <h2>Diseñamos y creamos soluciones unicas</h2>
                    </div>
                    <div class="feature-three-wrap">
                        <div class="feature-item-three wow fadeInRight delay-0-3s">
                            <i class="flaticon-technical-support"></i>
                            <div class="content">
                                <h4>Personalice su sitio web</h4>
                                <p>
                                    Dale un toque único a tu presencia en línea con un sitio web totalmente
                                    personalizado a tu marca.
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-two wow fadeInRight delay-0-4s">
                            <i class="flaticon-settings"></i>
                            <div class="content">
                                <h4>Añadir funciones avanzadas</h4>
                                <p>
                                    Eleva tu sitio web incorporando funciones avanzadas que respondan a las exigencias
                                    del mercado actual.
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-three wow fadeInRight delay-0-5s">
                            <i class="flaticon-app-development"></i>
                            <div class="content">
                                <h4>Editar la versión móvil</h4>
                                <p>
                                    Asegura que tu sitio web brille también en dispositivos móviles con una edición y
                                    diseño responsivo.
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-four wow fadeInRight delay-0-6s">
                            <i class="flaticon-optimization"></i>
                            <div class="content">
                                <h4>Optimización para SEO</h4>
                                <p>
                                    Alcanza las cimas de Google con estrategias de optimización SEO que mejoran tu
                                    visibilidad y tráfico.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ww-do-images">
                    <img class="image-one wow fadeInDown delay-0-2s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do1.png') }}" alt="Que hacemos" />
                    <img class="image-two wow fadeInUp delay-0-4s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do2.png') }}" alt="Que hacemos" />
                    <img class="image-three wow fadeInRight delay-0-6s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do3.png') }}" alt="Que hacemos" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We Do Area end -->

<!-- Feature With Image start -->
<section class="feature-with-image-area bgc-black text-white py-130 rel z-1">
    <div class="container">
        <div class="feature-with-image">
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature1.png') }}" alt="Feature" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>Características de diseño avanzadas</h3>
                <p>
                    Explora funcionalidades de vanguardia que llevarán tu diseño web al siguiente nivel de
                    profesionalismo y creatividad.
                </p>
                <a class="read-more" href="{{ url_for('services.details') }}">Leer más <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
        </div>
        <div class="feature-with-image">
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>Crearemos al instante un diseño perfecto</h3>
                <p>
                    Diseño impecable, ejecución instantánea.
                </p>
                <ul class="list-style-three">
                    <li>Fácil crear un sitio web</li>
                    <li>Sitios web creativos</li>
                </ul>
                <a class="read-more" href="{{ url_for('services.details') }}">Leer más <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature2.png') }}" alt="Feature" />
            </div>
        </div>
        <div class="feature-with-image">
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature3.png') }}" alt="Feature" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>Comparta sus ideas. Haz crecer tu marca</h3>
                <p>
                    Transforma tus visiones en realidad y amplifica el alcance de tu marca con una colaboración creativa
                    efectiva.
                </p>
                <a class="read-more" href="{{ url_for('services.details') }}">Leer más <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
        </div>
    </div>
</section>
<!-- Feature With Image end -->

<!-- Project Area start -->
<section class="project-area-two pt-130 pb-100 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title text-center mb-50 wow fadeInUp delay-0-2s">
                    <span class="sub-title style-two mb-15">Plantillas</span>
                    <h2>Populares</h2>
                </div>
            </div>
        </div>
        <ul class="project-filter filter-btns-one justify-content-center mb-30 wow fadeInUp delay-0-4s">
            <li data-filter="*" class="current">Todo</li>
            <li data-filter=".business">Negocios</li>
            <li data-filter=".saas">Saas</li>
            <li data-filter=".medical">Médicos</li>
            <li data-filter=".construction">Construcción</li>
            <li data-filter=".education">Educación</li>
        </ul>
        <div class="row project-active justify-content-center">
            <div class="col-xl-4 col-md-6 item saas construction">
                <div class="project-item style-two wow fadeInUp delay-0-2s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two1.jpg') }}"
                            alproject-details.html="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="#">Saas Landing PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business medical education">
                <div class="project-item style-two wow fadeInUp delay-0-4s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two2.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="#">Fintex- eWallet PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business construction">
                <div class="project-item style-two wow fadeInUp delay-0-6s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two3.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="#">Job Finding Mobile
                                <br />Applications</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business education">
                <div class="project-item style-two wow fadeInUp delay-0-2s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two4.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="#">Raisehand Charity <br />Foundation
                                Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item saas medical">
                <div class="project-item style-two wow fadeInUp delay-0-4s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two5.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content business">
                        <h5>
                            <a href="#">Web Design Landing <br />PSD
                                Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item saas construction education">
                <div class="project-item style-two wow fadeInUp delay-0-6s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two6.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="#">Fintex- eWallet PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Area end -->

<!-- Feature Four Area start -->
<section class="feature-area-four pb-100 rel z-1">
    <div class="container">
        <div class="section-title text-center mb-50 wow fadeInUp delay-0-2s">
            <span class="sub-title style-two mb-15">Características Principales</span>
            <h2>Funciones Básicas Sorprendentes</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-3s">
                    <h4>
                        <i class="flaticon-drag-and-drop"></i><a href="{{ url_for('services.details') }}">Arrastra y
                            suelta</a>
                    </h4>
                    <p>
                        Simplifica la construcción de tu sitio con una interfaz intuitiva de arrastrar y soltar que
                        acelera la edición y el diseño.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-5s">
                    <h4>
                        <i class="flaticon-responsive-1"></i><a href="{{ url_for('services.details') }}">Edición por
                            dispositivo</a>
                    </h4>
                    <p>
                        Garantiza una navegación fluida en cada dispositivo ajustando tu sitio con edición fácil y
                        adaptable.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-7s">
                    <h4>
                        <i class="flaticon-email"></i><a href="{{ url_for('services.details') }}">Campaña por email</a>
                    </h4>
                    <p>
                        Crea y gestiona campañas de email efectivas directamente desde nuestra plataforma,
                        y observa cómo crece tu audiencia.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-3s">
                    <h4>
                        <i class="flaticon-monitor"></i><a href="{{ url_for('services.details') }}">Fácil de usar</a>
                    </h4>
                    <p>
                        Disfruta de una plataforma sencilla y fácil de usar que te permite lanzar y gestionar tu sitio
                        web sin complicaciones técnicas.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-5s">
                    <h4>
                        <i class="flaticon-user-experience"></i><a href="{{ url_for('services.details') }}">Aumentar el
                            alcance</a>
                    </h4>
                    <p>
                        Utiliza nuestras herramientas especializadas para captar más clientes potenciales y convertir
                        visitas en conversiones.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-7s">
                    <h4>
                        <i class="flaticon-coding-1"></i><a href="{{ url_for('services.details') }}">Modo de
                            desarrollo</a>
                    </h4>
                    <p>
                        Para los que desean un control técnico, el desarrollador permite una
                        personalización avanzada y gestión detallada del sitio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Four Area end -->

<!-- Statistics Two Area start -->
<section class="statistics-area-two bgc-lighter bgs-cover pt-130 pb-100 rel z-1" style="
        background-image: url(assets/images/features/support-features-bg.png);
      ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="statistics-two-content mb-30 rmb-35 wow fadeInRight delay-0-2s">
                    <div class="section-title mb-25">
                        <span class="sub-title style-two mb-15">Estadísticas</span>
                        <h2>
                            Somos la mejor agencia de desarrollo web
                        </h2>
                    </div>
                    <p>
                        Inicia tu proyecto web con la agencia top: interfaces intuitivas y sin complejidades técnicas.
                        Da el siguiente paso en tu presencia online con nosotros.
                    </p>
                    <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15">Leer más <i
                            class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="statistics-two-counters mt-30">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item counter-text-wrap wow fadeInLeft delay-0-2s">
                                <i class="flaticon-startup"></i>
                                <span class="count-text" data-speed="3000" data-stop="10">0</span>
                                <span class="counter-title">Proyectos desplegados</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-5s">
                                <i class="flaticon-global"></i>
                                <span class="count-text" data-speed="3000" data-stop="10">0</span>
                                <span class="counter-title">Clientes de confianza</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6 offset-xl-1">
                            <div class="counter-item counter-text-wrap wow fadeInLeft delay-0-2s">
                                <i class="flaticon-rating"></i>
                                <span class="count-text" data-speed="3000" data-stop="10">0</span>
                                <span class="counter-title">Mimebros expertos del equipo</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-5s">
                                <i class="flaticon-trophy"></i>
                                <span class="count-text" data-speed="3000" data-stop="10">0</span>
                                <span class="counter-title">Proyectos completados</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Statistics Two Area end -->

<!-- Why Choose Us Area start -->
<section class="why-choose-two-area py-130 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="why-choose-two-image rmb-65 wow fadeInUp delay-0-4s">
                    <img src="{{ url_for('static', filename='assets/images/about/why-choose-us-two.png') }}"
                        alt="why choose us" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="why-choose-two-content wow fadeInUp delay-0-2s">
                    <div class="section-title mb-35">
                        <span class="sub-title style-two mb-15">Por que trabajar con nosotros</span>
                        <h2>Grandes soluciones Web en las que puede confiar</h2>
                    </div>
                    <ul class="list-style-one">
                        <li>
                            <div class="content">
                                <h5>Fácil personalización</h5>
                                <p>
                                    Personalización a tu medida: adapta tu sitio web con facilidad y precisión.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Chats y Mensajerías</h5>
                                <p>
                                    Chats y Mensajerías: comunica de manera efectiva y sin complicaciones.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Formas de pago</h5>
                                <p>
                                    Soluciones de pago: integraciones seguras y versátiles para transacciones fluidas.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Area end -->

{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock %}