{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Inicio {% endblock %}

{% block content %}
<!-- Hero Section Start -->
<section class="hero-area-three pt-210 rpt-150 rel z-1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <div class="hero-content-three text-center pt-10 mb-40 wow fadeInUp delay-0-2s">
                    <h1>Debutamos tu <span>Website</span> ¡Mejora tu negocio!</h1>
                    <p>
                        Impulsa tu negocio con un sitio web que combina estética moderna, funcionalidad intuitiva y
                        optimización SEO. Nos especializamos en crear soluciones web a medida que elevan tu marca y
                        conectan con tu audiencia. Transforma tu presencia online con nosotros.
                    </p>
                    <div class="hero-btns pt-5 wow fadeInUp delay-0-4s">
                        <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15">Crear un sitio web
                            <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-three-image wow fadeInUp delay-0-6s">
            <img src="{{ url_for('static', filename='assets/images/hero/hero-three.png') }}" alt="Hero" />
        </div>
    </div>
    <div class="hero-three-shapes">
        <div class="angle wow slideInDown delay-0-2s"></div>
        <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
        <img class="shape-one" src="{{ url_for('static', filename='assets/images/shapes/hero-shape1.png') }}"
            alt="Shape" />
        <img class="shape-two" src="{{ url_for('static', filename='assets/images/shapes/hero-shape2.png') }}"
            alt="Shape" />
    </div>
</section>
<!-- Hero Section End -->

<!-- Features Area start -->
<section class="features-area-two pt-130 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two mt-60 wow fadeInUp delay-0-2s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>20+ UI <br />Componentes</h4>
                    <p>
                        Diseña experiencias únicas con herramientas que impulsan la creatividad.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-two wow fadeInUp delay-0-4s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>100+ <br />Plantillas web</h4>
                    <p>
                        Plantillas web versátiles que transforman tu visión en realidad con estilo y funcionalidad.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-three mt-60 wow fadeInUp delay-0-6s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>200+ <br />Asesoriamiento Digital</h4>
                    <p>
                        Asesoramiento digital experto para guiar tu camino hacia el éxito en el mundo online.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="feature-item-two color-four wow fadeInUp delay-0-8s">
                    <div class="icon"><i class="fas fa-check"></i></div>
                    <h4>504+ <br />Complementos Personalizados</h4>
                    <p>
                        Complementos personalizados que enriquecen tu sitio, potenciando interactividad y rendimiento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Area end -->

<!-- What We Do Area start -->
<section class="ww-do-area pt-100 pb-130 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="ww-do-content rmb-65">
                    <div class="section-title mb-40 wow fadeInRight delay-0-2s">
                        <span class="sub-title style-two mb-15">Lo que hacemos</span>
                        <h2>Diseñamos y creamos soluciones unicas</h2>
                    </div>
                    <div class="feature-three-wrap">
                        <div class="feature-item-three wow fadeInRight delay-0-3s">
                            <i class="flaticon-technical-support"></i>
                            <div class="content">
                                <h4>Personalice su sitio web</h4>
                                <p>
                                    Sit amet consectetur adipiscing sed eiusmod tempor
                                    incididunt labore et dolore magnaes epsums
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-two wow fadeInRight delay-0-4s">
                            <i class="flaticon-settings"></i>
                            <div class="content">
                                <h4>Añadir funciones avanzadas</h4>
                                <p>
                                    Sit amet consectetur adipiscing sed eiusmod tempor
                                    incididunt labore et dolore magnaes epsums
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-three wow fadeInRight delay-0-5s">
                            <i class="flaticon-app-development"></i>
                            <div class="content">
                                <h4>Editar la versión móvil</h4>
                                <p>
                                    Sit amet consectetur adipiscing sed eiusmod tempor
                                    incididunt labore et dolore magnaes epsums
                                </p>
                            </div>
                        </div>
                        <div class="feature-item-three color-four wow fadeInRight delay-0-6s">
                            <i class="flaticon-optimization"></i>
                            <div class="content">
                                <h4>Optimización para SEO</h4>
                                <p>
                                    Sit amet consectetur adipiscing sed eiusmod tempor
                                    incididunt labore et dolore magnaes epsums
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ww-do-images">
                    <img class="image-one wow fadeInDown delay-0-2s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do1.png') }}" alt="What We Do" />
                    <img class="image-two wow fadeInUp delay-0-4s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do2.png') }}" alt="What We Do" />
                    <img class="image-three wow fadeInRight delay-0-6s"
                        src="{{ url_for('static', filename='assets/images/about/ww-do3.png') }}" alt="What We Do" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We Do Area end -->

<!-- Feature With Image start -->
<section class="feature-with-image-area bgc-black text-white py-130 rel z-1">
    <div class="container">
        <div class="feature-with-image">
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature1.png') }}" alt="Feature" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>Advanced design features.</h3>
                <p>
                    Sit amet consectetur adipiscing elit sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliquaes suspendisse
                    ultrices gravida commodo viverra mae cenas accumsan lacus vel
                    facilisis.
                </p>
                <a class="read-more" href="{{ url_for('services.details') }}">Learn More <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
        </div>
        <div class="feature-with-image">
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>We’ll instantly create a perfect design</h3>
                <p>
                    Labore et do magna aliquaes suspendisse ultrices gravida commodo
                    maeenas accumsan
                </p>
                <ul class="list-style-three">
                    <li>Is it easy to create a website</li>
                    <li>Build creative website easily</li>
                </ul>
                <a class="read-more" href="{{ url_for('services.details') }}">Learn More <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature2.png') }}" alt="Feature" />
            </div>
        </div>
        <div class="feature-with-image">
            <div class="feature-image wow fadeInLeft delay-0-2s">
                <img src="{{ url_for('static', filename='assets/images/features/feature3.png') }}" alt="Feature" />
            </div>
            <div class="feature-content wow fadeInRight delay-0-2s">
                <h3>Share your ideas. Grow your brand</h3>
                <p>
                    Sit amet consectetur adipiscing elit sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliquaes suspendisse
                    ultrices gravida commodo viverra mae cenas accumsan lacus vel
                    facilisis.
                </p>
                <a class="read-more" href="{{ url_for('services.details') }}">Learn More <i
                        class="far fa-arrow-right"></i></a>
            </div>
            <div class="feature-shape">
                <img src="{{ url_for('static', filename='assets/images/shapes/feature-shape.png') }}" alt="Shape" />
            </div>
        </div>
    </div>
</section>
<!-- Feature With Image end -->

<!-- Project Area start -->
<section class="project-area-two pt-130 pb-100 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title text-center mb-50 wow fadeInUp delay-0-2s">
                    <span class="sub-title style-two mb-15">Pre-made Template</span>
                    <h2>Let’s See Our Popular Website Template</h2>
                </div>
            </div>
        </div>
        <ul class="project-filter filter-btns-one justify-content-center mb-30 wow fadeInUp delay-0-4s">
            <li data-filter="*" class="current">Show All</li>
            <li data-filter=".business">Business</li>
            <li data-filter=".saas">Saas</li>
            <li data-filter=".medical">Medical</li>
            <li data-filter=".construction">Construction</li>
            <li data-filter=".education">Education</li>
        </ul>
        <div class="row project-active justify-content-center">
            <div class="col-xl-4 col-md-6 item saas construction">
                <div class="project-item style-two wow fadeInUp delay-0-2s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two1.jpg') }}"
                            alproject-details.html="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="#"><i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Saas Landing PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business medical education">
                <div class="project-item style-two wow fadeInUp delay-0-4s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two2.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="{{ url_for('projects.index_details') }}"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Fintex- eWallet PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business construction">
                <div class="project-item style-two wow fadeInUp delay-0-6s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two3.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="{{ url_for('projects.index_details') }}"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Job Finding Mobile
                                <br />Applications</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item business education">
                <div class="project-item style-two wow fadeInUp delay-0-2s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two4.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="{{ url_for('projects.index_details') }}"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Raisehand Charity <br />Foundation
                                Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item saas medical">
                <div class="project-item style-two wow fadeInUp delay-0-4s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two5.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="{{ url_for('projects.index_details') }}"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content business">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Web Design Landing <br />PSD
                                Template</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 item saas construction education">
                <div class="project-item style-two wow fadeInUp delay-0-6s">
                    <div class="project-iamge">
                        <img src="{{ url_for('static', filename='assets/images/projects/project-two6.jpg') }}"
                            alt="Project" />
                        <div class="project-over">
                            <a class="details-btn" href="{{ url_for('projects.index_details') }}"><i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h5>
                            <a href="{{ url_for('projects.index_details') }}">Fintex- eWallet PSD
                                <br />Template</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Area end -->

<!-- Feature Four Area start -->
<section class="feature-area-four pb-100 rel z-1">
    <div class="container">
        <div class="section-title text-center mb-50 wow fadeInUp delay-0-2s">
            <span class="sub-title style-two mb-15">Core Features</span>
            <h2>Amazing Core Features</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-3s">
                    <h4>
                        <i class="flaticon-drag-and-drop"></i><a href="{{ url_for('services.details') }}">Drag &
                            Drop</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-5s">
                    <h4>
                        <i class="flaticon-responsive-1"></i><a href="{{ url_for('services.details') }}">Edit by
                            Device</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-7s">
                    <h4>
                        <i class="flaticon-email"></i><a href="{{ url_for('services.details') }}">Email
                            Campaign</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-3s">
                    <h4>
                        <i class="flaticon-monitor"></i><a href="{{ url_for('services.details') }}">Simple to
                            use</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-5s">
                    <h4>
                        <i class="flaticon-user-experience"></i><a href="{{ url_for('services.details') }}">Increase
                            Leads</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item-four wow fadeInUp delay-0-7s">
                    <h4>
                        <i class="flaticon-coding-1"></i><a href="{{ url_for('services.details') }}">Developer
                            Mode</a>
                    </h4>
                    <p>
                        Discover the ultimate creation experien eams. Work the same
                        site at the same time feedback assign custom roles &
                        permissions
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Four Area end -->

<!-- Statistics Two Area start -->
<section class="statistics-area-two bgc-lighter bgs-cover pt-130 pb-100 rel z-1" style="
        background-image: url(assets/images/features/support-features-bg.png);
      ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="statistics-two-content mb-30 rmb-35 wow fadeInRight delay-0-2s">
                    <div class="section-title mb-25">
                        <span class="sub-title style-two mb-15">Company Statistics</span>
                        <h2>
                            We're the best web development agency more achievement
                        </h2>
                    </div>
                    <p>
                        Start building your first prototype in no time. Ogency
                        intuitive, drag & drop interface gives you all the building
                        blocks that you need to get started! No skills required.
                    </p>
                    <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15">Learn More <i
                            class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="statistics-two-counters mt-30">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item counter-text-wrap wow fadeInLeft delay-0-2s">
                                <i class="flaticon-startup"></i>
                                <span class="count-text" data-speed="3000" data-stop="2365">0</span>
                                <span class="counter-title">Projects complete</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-5s">
                                <i class="flaticon-global"></i>
                                <span class="count-text" data-speed="3000" data-stop="9632">0</span>
                                <span class="counter-title">Trusted Global Clients</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6 offset-xl-1">
                            <div class="counter-item counter-text-wrap wow fadeInLeft delay-0-2s">
                                <i class="flaticon-rating"></i>
                                <span class="count-text" data-speed="3000" data-stop="8504">0</span>
                                <span class="counter-title">Expert Team Member</span>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6">
                            <div class="counter-item for-margin counter-text-wrap wow fadeInLeft delay-0-5s">
                                <i class="flaticon-trophy"></i>
                                <span class="count-text" data-speed="3000" data-stop="6763">0</span>
                                <span class="counter-title">Projects complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Statistics Two Area end -->

<!-- Why Choose Us Area start -->
<section class="why-choose-two-area py-130 rel z-1">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="why-choose-two-image rmb-65 wow fadeInUp delay-0-4s">
                    <img src="{{ url_for('static', filename='assets/images/about/why-choose-us-two.png') }}"
                        alt="why choose us" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="why-choose-two-content wow fadeInUp delay-0-2s">
                    <div class="section-title mb-35">
                        <span class="sub-title style-two mb-15">Why Choose Us</span>
                        <h2>Great Web solutions that you can trust</h2>
                    </div>
                    <ul class="list-style-one">
                        <li>
                            <div class="content">
                                <h5>Easy Customize</h5>
                                <p>
                                    We use strategic marketing tactics have been ese proven
                                    programming complex functions.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Chat & Messaging</h5>
                                <p>
                                    We use strategic marketing tactics have been eses proven
                                    programming complex functions.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <h5>Payment Gatway</h5>
                                <p>
                                    We use strategic marketing tactics have been eses proven
                                    programming complex functions.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Area end -->

<!-- Feedback Area start -->
<section class="feedback-area pb-130 rel z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center mb-40 wow fadeInUp delay-0-2s">
                    <span class="sub-title style-two mb-20">Clents Feedback</span>
                    <h2>3,000+ Positive reviews by our satisfied clients</h2>
                </div>
            </div>
        </div>
        <div class="feedback-active">
            <div class="feedback-item wow fadeInUp delay-0-2s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo1.png') }}" alt="Logo" />
                </div>
                <h4>On the other hand denounes with indignwy</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author1.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>Jonathan B. Bohnert</h5>
                        <span>CEO & Founder</span>
                    </div>
                </div>
            </div>
            <div class="feedback-item wow fadeInUp delay-0-4s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo2.png') }}" alt="Logo" />
                </div>
                <h4>Custom programming fores most complex functions</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author2.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>Nicholas R. Gomez</h5>
                        <span>Medical Officers</span>
                    </div>
                </div>
            </div>
            <div class="feedback-item wow fadeInUp delay-0-6s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo3.png') }}" alt="Logo" />
                </div>
                <h4>We use strategic marketing tactics be proven work.</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author3.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>James R. Lawrence</h5>
                        <span>Junior Manager</span>
                    </div>
                </div>
            </div>
            <div class="feedback-item wow fadeInUp delay-0-2s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo1.png') }}" alt="Logo" />
                </div>
                <h4>On the other hand denounes with indignwy</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author1.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>Jonathan B. Bohnert</h5>
                        <span>CEO & Founder</span>
                    </div>
                </div>
            </div>
            <div class="feedback-item wow fadeInUp delay-0-2s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo2.png') }}" alt="Logo" />
                </div>
                <h4>Custom programming fores most complex functions</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author2.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>Nicholas R. Gomez</h5>
                        <span>Medical Officers</span>
                    </div>
                </div>
            </div>
            <div class="feedback-item wow fadeInUp delay-0-2s">
                <div class="author-logo">
                    <i class="far fa-quote-right"></i>
                    <img src="{{ url_for('static', filename='assets/images/feedback/logo3.png') }}" alt="Logo" />
                </div>
                <h4>We use strategic marketing tactics be proven work.</h4>
                <p>
                    Sed ut perspiciatis unde omnis natus error voluptatem
                    accusantium dolore laudantuce totam rem aperiam eaque inventore
                </p>
                <div class="feedback-author">
                    <img src="{{ url_for('static', filename='assets/images/feedback/author3.jpg') }}" alt="Author" />
                    <div class="content">
                        <h5>James R. Lawrence</h5>
                        <span>Junior Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback-shape one">
        <img src="{{ url_for('static', filename='assets/images/feedback/man1.jpg') }}" alt="Man Shape" />
    </div>
    <div class="feedback-shape two">
        <img src="{{ url_for('static', filename='assets/images/feedback/man2.jpg') }}" alt="Man Shape" />
    </div>
</section>
<!-- Feedback Area end -->

<!-- Call to Action Area start -->
<section class="call-to-action-area bgc-black pt-80 pb-50">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title text-white mb-25 wow fadeInUp delay-0-2s">
                    <h2>Let’s Design Your New Website</h2>
                    <p>
                        Do you want to have a website that stands out and impresses
                        your clients? Then we are ready to help! Click the button
                        below to contact us and discuss your ideas.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 text-lg-end">
                <a href="contact.html" class="theme-btn style-two mb-30 wow fadeInUp delay-0-4s">Let’s Get
                    Started <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action Area End -->
{% endblock %}