{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Mis Compras {% endblock %}

{% block styles %}
{{super()}}
{% endblock styles %}

{% block scripts %}
{{super()}}
{% endblock scripts %}

{% block content %}

{% block page_banner %}
{% set pre_page_title = 'Mis' %}
{% set page_title_underline = 'Compras' %}

{% include 'components/page-banner.html' %}
{% endblock page_banner %}


<!-- Blog List Area start -->
<section class="blog-list-area py-130 rel z-1">
    <div class="container">

        {% for compra in compras %}
        <div class="blog-list-item wow fadeInUp delay-0-2s">
            <div class="image" style="overflow: hidden;">
                {% if compra.get('imagen', False) %}
                <img src="{{ compra.get('imagen') }}"
                    alt="{{ compra.get('nombre_imagen', 'Imagen del producto') }}" style="width: 520px; height: 364px; object-fit:cover;">
                {% else %}
                <i class="material-icons" style="width: 250px; height: auto; font-size: 250px;">inventory_2</i>
                {% endif %}
            </div>
            <div class="blog-content w-100">
                <div class="content">
                    <ul class="blog-meta">
                        <li>
                            <i class="far fa-calendar-alt"></i> {{ compra.get('fecha', '') | format_mx }}
                        </li>
                    </ul>
                    <h4>{{ compra.get('titulo', 'Titulo del Producto') }}</h4>
                    <ul class="blog-meta mis-compras-product-details">
                        <li>
                            Costo/u <span>$<strong>{{ compra.get('precio', 0) }}</strong></span>
                        </li>
                        <li>
                            Cantidad <span><strong>{{ compra.get('cantidad', 0) }}</strong></span>
                        </li>
                        <li>
                            IVA <span>$<strong>{{ compra.get('iva', 0) }}</strong></span>
                        </li>
                        <li>
                            Total <span>$<strong>{{ compra.get('total', 0) }}</strong></span>
                        </li>
                    </ul>
                    <a class="read-more"
                        href="{{ url_for('shop.product_details_template', id_producto=compra.get('id_producto')) }}">Ver producto
                        <i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Blog List Area end -->


{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock content %}