{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Producto {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='modules/product-details.css') }}">
{% endblock styles %}

{% block content %}



<!-- Page Banner Start -->
<!-- <section class="page-banner-area pt-245 rpt-150 pb-170 rpb-100 rel z-1 bgc-lighter text-center">
            <div class="container">
                <div class="banner-inner rpt-10">
                    <h1 class="page-title wow fadeInUp delay-0-2s">Detalles del <span>Producto</span></h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                            <li class="breadcrumb-item active">Detalles del Producto</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="banner-shapes">
                <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
                <img class="shape-one" src="{{ url_for('static', filename='assets/images/shapes/hero-shape1.png') }}" alt="Shape">
                <img class="shape-two" src="{{ url_for('static', filename='assets/images/shapes/hero-shape2.png') }}" alt="Shape">
            </div>
        </section> -->
<!-- Page Banner End -->


<!-- Product Details Start -->
<section class="product-details pt-130 rpt-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="product-details-images rmb-55 wow fadeInLeft delay-0-2s">
                    <div class="tab-content preview-images">
                        <div class="tab-pane fade preview-item active show" id="preview1">
                            <img src="{{ url_for('static', filename='assets/images/shop/preview1.jpg') }}"
                                alt="Perview">
                        </div>
                        <div class="tab-pane fade preview-item" id="preview2">
                            <img src="{{ url_for('static', filename='assets/images/shop/preview1.jpg') }}"
                                alt="Perview">
                        </div>
                        <div class="tab-pane fade preview-item" id="preview3">
                            <img src="{{ url_for('static', filename='assets/images/shop/preview1.jpg') }}"
                                alt="Perview">
                        </div>
                    </div>
                    <div class="nav thumb-images rmb-20">
                        <a href="#preview1" data-bs-toggle="tab" class="thumb-item active show">
                            <img src="{{ url_for('static', filename='assets/images/shop/thumb1.jpg') }}" alt="Thumb">
                        </a>
                        <a href="#preview2" data-bs-toggle="tab" class="thumb-item">
                            <img src="{{ url_for('static', filename='assets/images/shop/thumb2.jpg') }}" alt="Thumb">
                        </a>
                        <a href="#preview3" data-bs-toggle="tab" class="thumb-item">
                            <img src="{{ url_for('static', filename='assets/images/shop/thumb3.jpg') }}" alt="Thumb">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="product-details-content wow fadeInRight delay-0-2s">
                    <div class="section-title">
                        <h2>Ilustraciones 3D</h2>
                    </div>
                    <div class="ratting-price mb-30">
                        <!-- <div class="ratting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div> -->
                        <span class="price">1100.00</span>
                    </div>
                    <hr class="mb-25">
                    <p>Servicio de ilustración 3D personalizada para sitios web, enfocado en transformar conceptos de
                        branding y marketing digital en imágenes impactantes y memorables</p>
                    <!-- <hr class="mt-65">
                    <ul class="category-tags pt-10 pb-15">
                        <li>
                            <b>Category</b>
                            <span>:</span>
                            <a href="#">Software</a>
                            <a href="#">Website</a>
                            <a href="#">Development</a>
                        </li>
                        <li>
                            <b>Tags</b>
                            <span>:</span>
                            <a href="#">3D</a>
                            <a href="#">Ilustration</a>
                            <a href="#">Arts</a>
                        </li>
                    </ul>
                    <hr> -->
                    <div class="add-to-cart pt-15 d-flex" style="flex-direction: column">
                        <div class="auxiliar_btns" style="display: flex; gap: 10px">
                            <input type="number" value="01" min="1" max="20" required
                                style="margin-right: -1px; margin-top: 0px">
                            <button type="submit" class="btn btn-outline-secondary btn-lg"
                                style="height: 50; display: flex; align-items: center">
                                <span class="material-icons">shopping_cart</span>
                                Agregar al carrito
                            </button>
                            <button class="wishlist" style="margin-top: 0px;">
                                <div class="con-like">
                                    <input class="like" type="checkbox" title="like">
                                    <div class="checkmark">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100"
                                            class="celebrate">
                                            <polygon class="poly" points="10,10 20,20"></polygon>
                                            <polygon class="poly" points="10,50 20,50"></polygon>
                                            <polygon class="poly" points="20,80 30,70"></polygon>
                                            <polygon class="poly" points="90,10 80,20"></polygon>
                                            <polygon class="poly" points="90,50 80,50"></polygon>
                                            <polygon class="poly" points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </button>
                            <style>
                                .con-like {
                                    --red: rgb(255, 50, 50);
                                    position: relative;
                                    width: 25px;
                                    height: 25px;
                                }

                                .con-like .like {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    z-index: 20;
                                    cursor: pointer;
                                }

                                .con-like .checkmark {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .con-like .outline,
                                .con-like .filled {
                                    fill: var(--red);
                                    position: absolute;
                                }

                                .con-like .filled {
                                    animation: kfr-filled 0.5s;
                                    display: none;
                                }

                                .con-like .celebrate {
                                    position: absolute;
                                    animation: kfr-celebrate 0.5s;
                                    animation-fill-mode: forwards;
                                    display: none;
                                }

                                .con-like .poly {
                                    stroke: var(--red);
                                    fill: var(--red);
                                }

                                .con-like .like:checked~.checkmark .filled {
                                    display: block
                                }

                                .con-like .like:checked~.checkmark .celebrate {
                                    display: block
                                }

                                @keyframes kfr-filled {
                                    0% {
                                        opacity: 0;
                                        transform: scale(0);
                                    }

                                    50% {
                                        opacity: 1;
                                        transform: scale(1.2);
                                    }
                                }

                                @keyframes kfr-celebrate {
                                    0% {
                                        transform: scale(0);
                                    }

                                    50% {
                                        opacity: 0.8;
                                    }

                                    100% {
                                        transform: scale(1.2);
                                        opacity: 0;
                                        display: none;
                                    }
                                }
                            </style>
                        </div>
                        <div class="compra_container w-75">
                            <a href="{{ url_for('shop.checkout_template') }}" type="submit" class="theme-btn w-100">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav product-information-tab mt-90 mb-40 wow fadeInUp delay-0-2s">
            <li><a href="#details" data-bs-toggle="tab" class="active show">Descrptions</a></li>
            <li><a href="#information" data-bs-toggle="tab">Information</a></li>
        </ul>
        <div class="tab-content pb-30 wow fadeInUp delay-0-2s">
            <div class="tab-pane fade active show" id="details">
                <p>
                    Este servicio de ilustración 3D personalizada está diseñado específicamente para empresas y marcas
                    que buscan destacar en el ámbito digital. Ofrecemos soluciones visuales innovadoras que no solo
                    capturan la esencia de su marca, sino que también mejoran la experiencia del usuario en su sitio
                    web. A través de un proceso colaborativo, nuestro equipo de ilustradores 3D expertos trabaja de
                    cerca con cada cliente para entender sus objetivos de marketing digital y branding, asegurando que
                    cada ilustración sea única, relevante y totalmente alineada con la visión de su empresa.
                </p>
            </div>
            <div class="tab-pane fade" id="information">
                <p>
                    Características y Beneficios:
                </p>
                <ul class="list-style-two my-15">
                    <li>Personalización Completa: Adaptamos cada ilustración a las necesidades específicas de tu marca,
                        asegurando que el resultado final sea tan único como tu negocio.</li>
                    <li>Calidad Visual de Alta Definición: Utilizamos las últimas tecnologías en modelado 3D para
                        producir
                        imágenes de la más alta calidad, capaces de impresionar a tu audiencia y diferenciarte de la
                        competencia.</li>
                    <li>Optimización para Web: Todas nuestras ilustraciones están optimizadas para la web, garantizando
                        tiempos de carga rápidos y una experiencia fluida en todos los dispositivos y plataformas.</li>
                    <li>Mejora de la Experiencia del Usuario: Las imágenes 3D atractivas pueden mejorar
                        significativamente
                        la interacción del usuario, manteniendo a los visitantes comprometidos con tu contenido por más
                        tiempo.</li>
                    <li>Soporte y Colaboración: Ofrecemos una comunicación constante durante todo el proceso de diseño,
                        asegurando que el producto final esté alineado con tus expectativas y objetivos de negocio.</li>
                </ul>
                <p>Aplicaciones:</p>
                <ul class="list-style-two my-15">
                    <li>Cabeceras de sitios web y banners promocionales</li>
                    <li>Visualización de productos y servicios</li>
                    <li>Contenido interactivo para aumentar el engagement</li>
                    <li>Material de marketing digital y publicidad</li>
                </ul>
                <p>Proceso de Trabajo:</p>
                <ul class="list-style-two my-15">
                    <li>Consulta Inicial: Entendemos tus necesidades, objetivos y la visión de tu proyecto.
                        Desarrollo del Concepto: Creamos conceptos preliminares basados en tu feedback y nuestra
                        experiencia.</li>
                    <li>Producción de Ilustraciones: Desarrollamos las ilustraciones 3D, asegurando que se ajusten a tus
                        especificaciones y estándares de calidad.</li>
                    <li>Revisiones y Ajustes: Realizamos las modificaciones necesarias basadas en tus comentarios para
                        perfeccionar cada detalle.</li>
                    <li>Entrega Final: Te proporcionamos las ilustraciones optimizadas para web, listas para ser
                        implementadas en tu sitio.</li>
                </ul>
                <p>Compromiso con la Calidad:</p>
                <p>Nos enorgullece ofrecer un servicio que no solo cumple, sino que supera las expectativas de nuestros
                    clientes. Nuestro equipo de profesionales dedicados está comprometido con la excelencia, desde la
                    conceptualización hasta la entrega final.</p>
            </div>
        </div>
    </div>
</section>
<!-- Product Details End -->

<!-- Related Products Area start -->
<section class="related-products-area pb-80 rel z-1">
    <div class="container">
        <hr>
        <div class="section-title pt-110 text-center mb-50 wow fadeInUp delay-0-2s">
            <span class="sub-title style-two mb-15">Productos</span>
            <h2>Relacionados</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="product-item wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/shop/product7.jpg') }}" alt="Product">
                    </div>
                    <div class="content">
                        <h5>Travel Service Templates</h5>
                        <div class="admin-ratting">
                            <span class="admin">By <a href="#">Webtend</a> in CMS</span>
                            <!-- <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>(8.5k )</span>
                            </div> -->
                        </div>
                        <div class="price-details-btn">
                            <span class="price">29.55</span>
                            <a href="{{ url_for('shop.product_details_template') }}" class="theme-btn">Details <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="product-item wow fadeInUp delay-0-4s">
                    <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/shop/product5.jpg') }}" alt="Product">
                    </div>
                    <div class="content">
                        <h5>Fitness UI Kits</h5>
                        <div class="admin-ratting">
                            <span class="admin">By <a href="#">Webtend</a> in CMS</span>
                            <!-- <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>(8.5k )</span>
                            </div> -->
                        </div>
                        <div class="price-details-btn">
                            <span class="price">58.55</span>
                            <a href="{{ url_for('shop.product_details_template') }}" class="theme-btn">Details <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="product-item wow fadeInUp delay-0-6s">
                    <div class="image">
                        <img src="{{ url_for('static', filename='assets/images/shop/product6.jpg') }}" alt="Product">
                    </div>
                    <div class="content">
                        <h5>Dashboard UI Templates</h5>
                        <div class="admin-ratting">
                            <span class="admin">By <a href="#">Webtend</a> in CMS</span>
                            <!-- <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>(8.5k )</span>
                            </div> -->
                        </div>
                        <div class="price-details-btn">
                            <span class="price">37.55</span>
                            <a href="{{ url_for('shop.product_details_template') }}" class="theme-btn">Details <i
                                    class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Products Area end -->


{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}


{% endblock content %}