{% extends 'layout/base.html' %} 

{% block title %} Tech Consulting | Detalles de Servicio {% endblock %} 

{% block styles %} {{super()}} {% endblock styles %} 

{% block content %} 

{% block page_banner %} 
  {% set pre_page_title = 'Desarrollo' %}
  {% set page_title_underline = 'web' %}
  {% include 'components/page-banner.html' %}
{% endblock page_banner %}

<!-- What We Offer Area start -->
<section class="what-we-offer my-130 rel z-1">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="what-we-offer-left mb-30 rmb-65 wow fadeInRight delay-0-2s">
          <div class="section-title mb-25">
            <span class="sub-title style-two mb-15">Lo que ofrecemos</span>
            <h2>
              Somos una agencia de diseño y desarrollo de sitios web asequibles
            </h2>
          </div>
          <p>2 Años de Experiencia en Diseño y Desarrollo de Páginas Web</p>
          <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15"
            >Leer más <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="what-we-offer-right wow fadeInLeft delay-0-2s">
          <p>
            Diseño web pensando en el cliente. El diseño web moderno implica
            mucho más que crear un sitio web atractivo. La consideración de la
            experiencia del usuario, la optimización para motores de búsqueda,
            la facilidad de uso y los detalles técnicos son sólo algunos de los
            elementos que intervienen.
          </p>
          <ul class="list-style-four pt-5">
            <li>Diseño Web Responsivo</li>
            <li>Diseño de Experiencia de Usuario</li>
            <li>Integración de CMS y Comercio Electrónico</li>
            <li>Estrategias de Contenido</li>
            <li>Pruebas entre Navegadores y Plataformas</li>
            <li>Usabilidad y Análisis de la Competencia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- What We Offer Area end -->

<!-- Features Area start -->
<section class="features-area-seven pb-100 rel z-1">
  <div class="container">
    <div
      class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-center"
    >
      <div class="col">
        <div class="feature-item-seven mt-30 wow fadeInUp delay-0-2s">
          <div class="icon"><i class="flaticon-idea"></i></div>
          <h5>Creando Estrategia</h5>
          <p>
            Definir Planes de marca objetivos, investigación de palabras clave y
            estrategia de posicionamiento.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="feature-item-seven color-two wow fadeInUp delay-0-2s">
          <div class="icon"><i class="flaticon-graphic-design"></i></div>
          <h5>Diseño web</h5>
          <p>
            Definimos algunos bocetos iniciales de diseño para el sitio web y
            elegimos un concepto.
          </p>
        </div>
      </div>
      <div class="col">
        <div
          class="feature-item-seven color-three mt-40 wow fadeInUp delay-0-2s"
        >
          <div class="icon"><i class="flaticon-coding-2"></i></div>
          <h5>Desarrollo</h5>
          <p>
            Para que el contenido, la arquitectura de la información y el diseño
            visual funcionen
          </p>
        </div>
      </div>
      <div class="col">
        <div class="feature-item-seven color-four wow fadeInUp delay-0-2s">
          <div class="icon"><i class="flaticon-checklist"></i></div>
          <h5>Pruebas en Proyectos</h5>
          <p>
            Nuestro equipo de expertos está siempre disponible para cualquier
            actualización que pueda necesitar.
          </p>
        </div>
      </div>
      <div class="col">
        <div
          class="feature-item-seven color-five mt-40 wow fadeInUp delay-0-2s"
        >
          <div class="icon"><i class="flaticon-goal"></i></div>
          <h5>Lanzamiento de Proyectos</h5>
          <p>
            Impulsa tu proyecto con un lanzamiento estratégico y alcanza tus
            objetivos de mercado eficientemente.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Area end -->

<!-- What We Offer Two Area start -->
<section class="what-we-offer-two mb-130 rel z-1">
  <div class="container">
    <div class="row large-gap align-items-center">
      <div class="col-lg-6">
        <div class="what-we-offer-image rmb-65 wow fadeInRight delay-0-2s">
          <img
            src="{{ url_for('static', filename='assets/images/about/what-we-offer.png') }}"
            alt="What We Offer"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="what-we-offer-content wow fadeInLeft delay-0-2s">
          <div class="section-title mb-25">
            <span class="sub-title style-two mb-15">Ofrecemos</span>
            <h2>Desarrollo en HTML, CSS y JavaScript</h2>
          </div>
          <p>
            Esta plataforma de desarrollo flexible, fácil de usar y compatible
            con los motores de búsqueda se utiliza actualmente en más del 35% de
            los sitios web. WordPress ofrece un sistema de gestión de contenidos
            (CMS) fácil de usar que permite realizar cambios sobre la marcha.
          </p>
          <ul class="list-style-four pt-5 pb-30">
            <li>Fácil de editar y compatible con los motores de búsqueda</li>
            <li>Altamente personalizable</li>
            <li>El CMS más popular del mundo</li>
          </ul>
          <a href="{{ url_for('pages.about_us') }}" class="theme-btn mt-15"
            >Leer Más <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- What We Offer Two Area end -->

<!-- Responsive Design Area start -->
<section class="responsive-design-area mb-130 rel z-1">
  <div class="container">
    <div class="row large-gap align-items-center">
      <div class="col-lg-6">
        <div class="responsive-design-content rmb-65 wow fadeInLeft delay-0-2s">
          <div class="section-title mb-25">
            <span class="sub-title style-two mb-15">Diseño Responsivo</span>
            <h2>Diseño Web Adaptable a Cualquier Dispositivo</h2>
          </div>
          <p>
            El diseño web adaptativo permite que su sitio web se adapte y
            ofrezca una experiencia óptima en cualquier dispositivo desde el que
            se visualice. Esto significa que su sitio web tendrá un aspecto
            estupendo y funcionará a la perfección para un usuario que utilice
            un ordenador de sobremesa, un portátil, una tableta o un smartphone.
          </p>
          <ul class="list-style-four pt-5 pb-30">
            <li>Compatible con dispositivos móviles</li>
            <li>Diseño para todos los dispositivos</li>
            <li>UX positiva y ayuda al SEO</li>
          </ul>
          <a href="{{ url_for('pages.about_us') }}" class="theme-btn style-two mt-15"
            >Leer Más <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="responsive-design-image wow fadeInRight delay-0-2s">
          <img
            src="{{ url_for('static', filename='assets/images/about/statistics-five.png') }}"
            alt="Responsive Design"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Responsive Design Area end -->

<!-- CTA Two Area start -->
<section
  class="cta-two bgc-primary bgs-cover text-white py-75 rel z-1"
  style="background-image: url(assets/images/background/cta-two.png)"
>
  <div class="container">
    <div class="row large-gap align-items-center">
      <div class="col-lg-5">
        <div class="cta-two-image rmb-65 wow fadeInRight delay-0-2s">
          <img
            src="{{ url_for('static', filename='assets/images/about/cta.png') }}"
            alt="CTA"
          />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="cta-two-content-two wow fadeInLeft delay-0-2s">
          <div class="section-title mb-25">
            <h2>Despegue Digital Imparable</h2>
          </div>
          <p>
            Comenzaron buscando un sitio web renovado, y tras colaborar con
            nuestro equipo, su estrategia digital ha florecido en múltiples
            frentes, logrando un crecimiento óptimo y sostenido.
          </p>
          <a href="{{ url_for('') }}" class="theme-btn style-three white-btn mt-15"
            >Comenzar Ahora <i class="fas fa-angle-double-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA Two Area end -->

<!-- Support & Marketing Area start -->
<section class="support-marketing-area py-130 rel z-1">
  <div class="container">
    <div class="row large-gap justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="support-marketing-progress rmb-65 wow fadeInUp delay-0-4s">
          <div class="section-title mb-35">
            <span class="sub-title style-two mb-15">Apoyo y Marketing</span>
            <h2>Marketing para Apoyar su Diseño Web</h2>
          </div>
          <p>
            Afortunadamente, aquí no somos solo diseñadores y desarrolladores,
            somos somos redactores, estrategas, técnicos y creativos, todos
            trabajando mismo objetivo final: el éxito de nuestros clientes. Como
            agencia de marketing marketing digital
          </p>
          <div class="circle-counter">
            <div class="circle-progress-item">
              <div class="progress-content one">
                <h3>0</h3>
              </div>
              <h5>Servicios de SEO</h5>
            </div>
            <div class="circle-progress-item">
              <div class="progress-content two">
                <h3>0</h3>
              </div>
              <h5>Redacción Publicitaria</h5>
            </div>
            <div class="circle-progress-item">
              <div class="progress-content three">
                <h3>0</h3>
              </div>
              <h5>PPC</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="support-marketing-list wow fadeInUp delay-0-2s">
          <ul class="list-style-one">
            <li>
              <div class="content">
                <h5>Servicios de SEO</h5>
                <p>
                  Si usted está buscando para comandar su mercado en línea que
                  usted necesita estrategia integral de SEO
                </p>
              </div>
            </li>
            <li>
              <div class="content">
                <h5>Redacción Publicitaria</h5>
                <p>
                  Amplifique su marca y controle la conversación con una
                  estrategia de marketing de contenidos
                </p>
              </div>
            </li>
            <li>
              <div class="content">
                <h5>Pago Por Clic</h5>
                <p>
                  La gestión del PPC consiste en ofrecer el anuncio adecuado a
                  sus futuros clientes en el momento
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Support & Marketing Area start -->

<!-- FAQs Area start -->
<section class="faqs-area pb-130 rel z-1">
  <div class="container">
    <div class="row large-gap justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="faq-images rmb-65 rel">
          <div class="row">
            <div class="col-6 col-small">
              <img
                class="image-one wow fadeInUp delay-0-2s"
                src="{{ url_for('static', filename='assets/images/faqs/faq1.jpg') }}"
                alt="FAQs"
              />
              <img
                class="image-two wow fadeInUp delay-0-4s"
                src="{{ url_for('static', filename='assets/images/faqs/faq2.jpg') }}"
                alt="FAQs"
              />
            </div>
            <div class="col-6 col-small">
              <img
                class="image-three mt-95 wow fadeInUp delay-0-6s"
                src="{{ url_for('static', filename='assets/images/faqs/faq3.jpg') }}"
                alt="FAQs"
              />
              <div class="year-of-experience wow zoomIn delay-0-6s">
                <span class="number">2</span>
                Años de Experiencia Web
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-content wow fadeInRight delay-0-2s">
          <div class="section-title mb-40">
            <span class="sub-title style-two mb-15">Preguntas Frecuentes</span>
            <h2>Preguntas sobre el Diseño de Sitios Web</h2>
          </div>
          <div class="accordion" id="faq-accordion">
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                >
                  ¿Se proporcionan las plantillas del sitio del diseño del sitio
                  web?
                </button>
              </h5>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#faq-accordion"
              >
                <div class="accordion-body">
                  <p>
                    Sí, se proporcionan las plantillas del sitio del diseño del
                    sitio web, es parte de los entregales al finalizar el
                    proyecto.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                >
                  ¿Cuánto cuesta una página web?
                </button>
              </h5>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse show"
                data-bs-parent="#faq-accordion"
              >
                <div class="accordion-body">
                  <p>
                    Afortunadamente, aquí no sólo somos diseñadores y
                    desarrolladores, sino también estrategas, técnicos y
                    creativos que trabajan con el mismo objetivo final: el éxito
                    de nuestros clientes. Como agencia de marketing digital de
                    servicios integrales
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                >
                  ¿Cuántas atenciones al diseño puedo hacer?
                </button>
              </h5>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#faq-accordion"
              >
                <div class="accordion-body">
                  <p>
                    Las revisiones son ilimitadas, buscamos siempre la
                    satisfacción del cliente, y para ello somos suseptibles y
                    flexibles a los cambios.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h5 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                >
                  ¿Puedo subir los diseños a mi trabajo personal?
                </button>
              </h5>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#faq-accordion"
              >
                <div class="accordion-body">
                  <p>
                    ¡Por supuesto! El contenido una vez asignado a un perfil se
                    otorgan las credenciales y licencias para su uso total
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FAQs Area end -->

{% block get_started %} 
{% include 'components/get_started.html' %} 
{% endblock get_started %} 

{% endblock content %}
