{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Sobre Nosotros {% endblock %}

{% block styles %}
{{super()}}
{% endblock styles %}


{% block content %}

  {% block page_banner %}
    {% set page_title_underline = 'Servicios' %}

    {% include 'layout/page-banner.html' %}
  {% endblock page_banner %}

<!-- Statistics Five Area start -->
<section class="statistics-area-five py-130">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="statistics-five-content mb-30 rmb-65 wow fadeInRight delay-0-2s">
          <div class="section-title mb-25">
            <span class="sub-title style-two mb-15">Estadísticas de la empresa</span>
            <h3>
              Descubra proyectos extraordinarios que cobran vida en Tech Consulting
            </h3>
          </div>
          <p>
            Comience a construir su primer prototipo en poco tiempo. Comunícate con nosotros para darle forma a tus sueños 
          </p>
          <a href="about.html" class="theme-btn mt-15">Contáctanos <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="statistics-five-image wow fadeInLeft delay-0-2s">
          <img src="{{ url_for('static', filename='assets/images/about/creative.jpg') }}" alt="Statistics" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Statistics Five Area end -->

<!-- Working Process Area start -->
<section class="work-process-area pb-95 rel z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center mb-55 wow fadeInUp delay-0-2s">
          <span class="sub-title style-two mb-15">Proceso de trabajo</span>
          <h2>¿Cómo trabajamos?</h2>
        </div>
      </div>
    </div>
    <div class="work-process-wrap rel z-1">
      <div class="row justify-content-between">
        <div class="col-xl-3 col-lg-5 col-sm-6">
          <div class="work-process-item mt-30 wow fadeInUp delay-0-2s">
            <div class="icon">
              <span class="number">01</span>
              <i class="flaticon-optimization"></i>
            </div>
            <h4>Recopilación de información</h4>
            <p>Obtener datos relevantes sobre las necesidades del cliente y los requisitos del proyecto.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-sm-6">
          <div class="work-process-item wow fadeInUp delay-0-4s">
            <div class="icon">
              <span class="number">02</span>
              <i class="flaticon-link"></i>
            </div>
            <h4>Planificación de ideas</h4>
            <p>Desarrollar un plan detallado para el proyecto, incluyendo objetivos, alcance y recursos necesarios.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-sm-6">
          <div class="work-process-item mt-55 wow fadeInUp delay-0-6s">
            <div class="icon">
              <span class="number">03</span>
              <i class="flaticon-data"></i>
            </div>
            <h4>Análisis de diseño</h4>
            <p>Crear prototipos y mockups para visualizar el software y recopilar feedback del cliente.            </p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-5 col-sm-6">
          <div class="work-process-item mt-45 wow fadeInUp delay-0-8s">
            <div class="icon">
              <span class="number">04</span>
              <i class="flaticon-star"></i>
            </div>
            <h4>Pruebas y almuerzo</h4>
            <p>Realizar pruebas exhaustivas y corregir errores antes de lanzar el software al mercado.</p>
          </div>
        </div>
      </div>
      <div class="work-process-shape">
        <img src="{{ url_for('static', filename='assets/images/shapes/worp-process-step.png') }}" alt="Shape" />
      </div>
    </div>
  </div>
</section>
<!-- Working Process Area end -->

<!-- Services Area start -->
<section class="services-area-four bgc-black pt-130 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="section-title text-center text-white mb-60 wow fadeInUp delay-0-2s">
          <span class="sub-title style-two mb-20">Servicios que brindamos</span>
          <h2>Servicios web populares
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-2s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four1.png') }}" alt="Service" />
          </div>
          <h5>Creación de sitios web desde Figma, XD o Photoshop</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-4s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four2.png') }}" alt="Service" />
          </div>
          <h5>Desarrollo de aplicaciones móviles y diseño de sitios web.</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-6s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four3.png') }}" alt="Service" />
          </div>
          <h5>Desarrollo de comercio electrónico.</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-2s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four4.png') }}" alt="Service" />
          </div>
          <h5>Diseño de sitios web responsivos (UI/UX)</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-4s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four5.png') }}" alt="Service" />
          </div>
          <h5>SEO (optimización de motores de búsqueda)</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="service-item-four wow fadeInUp delay-0-6s">
          <div class="image">
            <img src="{{ url_for('static', filename='assets/images/services/service-four6.png') }}" alt="Service" />
          </div>
          <h5>Diseño y desarrollo de productos digitales</h5>
          <a href="service-details.html" class="theme-btn style-three">Detalles del servicio<i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Area end -->

<!-- Pricing Area start -->
<section class="pricing-area py-130 rel z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="section-title text-center mb-55 wow fadeInUp delay-0-2s">
          <span class="sub-title style-two mb-20">Plan de precios</span>
          <h2>Paquete con el mejor precio</h2>
        </div>
      </div>
    </div>
    <div class="pricing-plan-item wow fadeInUp delay-0-2s">
      <div class="price-features">
        <h4>Plan Básico</h4>
        <ul class="list-style-two">
          <li>Diseño de página de destino (10 páginas)</li>
          <li>Proveedor de hosting dominio</li>
          <li>Diseño HTML+CSS (12 páginas)</li>
          <li>Soporte en línea (24 horas al día, 7 días a la semana)</li>
          <li>Marketing de medios sociales</li>
          <li>Desarrollo WordPres</li>
        </ul>
        <span class="badge">POPULAR</span>
      </div>
      <div class="price-and-btn">
        <div class="content">
          <span class="price">248 MXN</span>
          <span class="save">Ahorra <span> 25%</span></span>
          <a href="pricing.html" class="theme-btn style-three">Elija el paquete <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <div class="pricing-plan-item wow fadeInUp delay-0-2s">
      <div class="price-features">
        <h4>Plan Básico</h4>
        <ul class="list-style-two">
          <li>Diseño de página de destino (10 páginas)</li>
          <li>Proveedor de hosting dominio</li>
          <li>Diseño HTML+CSS (12 páginas)</li>
          <li>Soporte en línea (24 horas al día, 7 días a la semana)</li>
          <li>Marketing de medios sociales</li>
          <li>Desarrollo WordPres</li>
        </ul>
        <span class="badge">POPULAR</span>
      </div>
      <div class="price-and-btn">
        <div class="content">
          <span class="price">452 MXN</span>
          <span class="save">Ahorra<span> 43%</span></span>
          <a href="pricing.html" class="theme-btn style-three">Elija el paquete <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <div class="pricing-plan-item wow fadeInUp delay-0-2s">
      <div class="price-features">
        <h4>Plan Básico</h4>
        <ul class="list-style-two">
          <li>Diseño de página de destino (10 páginas)</li>
          <li>Proveedor de hosting dominio</li>
          <li>Diseño HTML+CSS (12 páginas)</li>
          <li>Soporte en línea (24 horas al día, 7 días a la semana)</li>
          <li>Marketing de medios sociales</li>
          <li>Desarrollo WordPres</li>
        </ul>
        <span class="badge">POPULAR</span>
      </div>
      <div class="price-and-btn">
        <div class="content">
          <span class="price">683 MXN</span>
          <span class="save">Ahorra<span> 66%</span></span>
          <a href="pricing.html" class="theme-btn style-three">Elija el paquete <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-shapes">
    <img class="shape one" src="{{ url_for('static', filename='assets/images/shapes/pricing-light1.png') }}"
      alt="Wave Shape" />
    <img class="shape two" src="{{ url_for('static', filename='assets/images/shapes/pricing-light2.png') }}"
      alt="Wave Shape" />
  </div>
</section>
<!-- Pricing Area end -->

{% block get_started %}
{% include 'layout/get_started.html' %}
{% endblock get_started %}

{% endblock content %}