{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Tienda {% endblock %}

{% block content %}


<!-- Page Banner Start -->
<section class="page-banner-area pt-245 rpt-150 pb-170 rpb-100 rel z-1 bgc-lighter text-center">
    <div class="container">
        <div class="banner-inner rpt-10">
            <h1 class="page-title wow fadeInUp delay-0-2s">Nuetra <span>Tienda</span></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li class="breadcrumb-item active">Tienda</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
        <img class="shape-one" src="{{ url_for('static', filename='assets/images/shapes/hero-shape1.png') }}"
            alt="Shape">
        <img class="shape-two" src="{{ url_for('static', filename='assets/images/shapes/hero-shape2.png') }}"
            alt="Shape">
    </div>
</section>
<!-- Page Banner End -->


<!-- Shop Page Area start -->
<section class="shop-page-area py-130 rel z-1">
    <div class="container">
        <div class="row justify-content-center pb-20">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-30 wow fadeInUp delay-0-2s">
                    <span class="sub-title style-two mb-15">Productos</span>
                    <h2>Visualiza el catálogo que tenemos para ofrecerte</h2>
                </div>
            </div>
        </div>
        <div class="row shop-active">

            {% for producto in productos %}
            <div class="col-xl-4 col-md-6 item plugin ilustration card-shop">
                <div class="product-item wow fadeInUp delay-0-2s">
                    <div class="image" style="display: grid; place-content: center;">
                        {% if producto.get('imagen', False) %}
                        <img src="{{ producto['imagen'] }}"
                            alt="{{ producto.get('nombre_imagen', 'Imagen del producto') }}">
                        {% else %}
                        <i class="material-icons" style="font-size: 250px; margin: auto;">inventory_2</i>
                        {% endif %}
                    </div>
                    <div class="content">
                        <h5>{{ producto.get('titulo', 'Titulo del producto') }}</h5>
                        <div class="admin-ratting">
                            <span class="admin"><strong>${{ producto.get('precio', 'Indefinido') }}</strong></span>
                        </div>
                        <div class="price-details-btn">
                            <a href="{{ url_for('shop.product_details_template', id_producto=producto.get('id')) }}"
                                class="theme-btn">Detalles
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>



        <!-- PAGINADO -->
        <ul class="pagination flex-wrap justify-content-center wow fadeInUp delay-0-2s">
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-left"></i></span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    01
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item dot"></li>
            <li class="page-item dot"></li>
            <li class="page-item dot"></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</section>
<!-- Shop Page Area end -->

{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}



{% endblock content %}