{% extends 'layout/base.html' %}

{% block content %}


<!-- Page Banner Start -->
<section class="page-banner-area pt-245 rpt-150 pb-170 rpb-100 rel z-1 bgc-lighter text-center">
    <div class="container">
        <div class="banner-inner rpt-10">
            <h1 class="page-title wow fadeInUp delay-0-2s">Team D<span>etails</span></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="index.html">home</a></li>
                    <li class="breadcrumb-item active">Team Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="circle wow zoomInLeft delay-0-2s" data-wow-duration="2s"></div>
        <img class="shape-one" src="assets/images/shapes/hero-shape1.png" alt="Shape">
        <img class="shape-two" src="assets/images/shapes/hero-shape2.png" alt="Shape">
    </div>
</section>
<!-- Page Banner End -->


<!-- Team Profile Area start -->
<section class="team-profile-area pt-130 pb-95 rel z-1">
    <div class="container">
        <div class="row large-gap justify-content-between">
            <div class="col-lg-5">
                <div class="team-profile-image rmb-65 wow fadeInRight delay-0-2s">
                    <img src="assets/images/team/team-profile.jpg" alt="Team Member">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="team-profile-content wow fadeInLeft delay-0-2s">
                    <div class="section-title mb-25">
                        <h2>Richard C. Harrison</h2>
                        <span class="designation">Senior Web Designer</span>
                    </div>
                    <hr class="mb-35">
                    <p>Sed ut persiciatis unde omnis iste natus error voluptatem accusanti oloremque laudantium totam
                        rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odfugit sed quia
                        consequuntur magni dolores eos ratione voluptatem sequi nesciunt. Neque porro quisquam est qui
                        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                        tempora incidunt ut labore</p>
                    <h4 class="title pt-25">Follow Me</h4>
                    <hr>
                    <div class="social-style-one pt-15 pb-25">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <h4 class="title pt-25">Best Skills</h4>
                    <hr>
                    <div class="circle-counter wow fadeInUp delay-0-2s">
                        <div class="circle-progress-item">
                            <div class="progress-content one">
                                <h3>0</h3>
                            </div>
                            <h5>SEO Service</h5>
                        </div>
                        <div class="circle-progress-item">
                            <div class="progress-content two">
                                <h3>0</h3>
                            </div>
                            <h5>Development</h5>
                        </div>
                        <div class="circle-progress-item">
                            <div class="progress-content three">
                                <h3>0</h3>
                            </div>
                            <h5>SEO</h5>
                        </div>
                        <div class="circle-progress-item">
                            <div class="progress-content four">
                                <h3>0</h3>
                            </div>
                            <h5>Support</h5>
                        </div>
                    </div>
                    <h4 class="title pt-50">Experience</h4>
                    <hr>
                    <div class="experience-wrap pt-20">
                        <div class="experience-item wow fadeInUp delay-0-2s">
                            <div class="image">
                                <img src="assets/images/team/logo1.png" alt="Logo">
                            </div>
                            <div class="content">
                                <h5>Senior Product Designer</h5>
                                <span class="duration">Twitter (2000-2005)</span>
                                <p>Sed ut persiciatis unde omnis natus error voluptatem accusanti oloremque laudantium
                                    totam rem aperiam eaquenumquam tempora</p>
                            </div>
                        </div>
                        <div class="experience-item wow fadeInUp delay-0-2s">
                            <div class="image">
                                <img src="assets/images/team/logo2.png" alt="Logo">
                            </div>
                            <div class="content">
                                <h5>Junior Product Designer</h5>
                                <span class="duration">Netflix (1995-1999)</span>
                                <p>Sed ut persiciatis unde omnis natus error voluptatem accusanti oloremque laudantium
                                    totam rem aperiam eaquenumquam tempora</p>
                            </div>
                        </div>
                        <div class="experience-item wow fadeInUp delay-0-2s">
                            <div class="image">
                                <img src="assets/images/team/logo3.png" alt="Logo">
                            </div>
                            <div class="content">
                                <h5>Junior Product Designer</h5>
                                <span class="duration">Spotify (1990-1994)</span>
                                <p>Sed ut persiciatis unde omnis natus error voluptatem accusanti oloremque laudantium
                                    totam rem aperiam eaquenumquam tempora</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Profile Area start -->

{% endblock content %}