{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Equipo {% endblock %}

{% block content %}

{% block page_banner %}
  {% set pre_page_title = 'Equipo' %}
  {% set page_title_underline = 'Experto' %}
  
  {% include 'components/page-banner.html' %}
{% endblock page_banner %}
        
        <!-- Support & Marketing Area start -->
        <section class="support-marketing-area py-130 rel z-1">
            <div class="container">
                <div class="row large-gap justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <div class="support-marketing-progress rmb-65 wow fadeInLeft delay-0-2s">
                            <div class="section-title mb-35">
                                <span class="sub-title style-two mb-15">Mejores Habilidades</span>
                                <h2>Tenemos Mucha Experiencia en Desarrollo de Sitios Webs</h2>
                            </div>
                            <p>Afortunadamente, aquí no sólo somos diseñadores y desarrolladores: somos redactores, estrategas, técnicos y creativos, y todos trabajamos por el mismo objetivo final: el éxito de nuestros clientes.</p>
                            <div class="circle-counter">
                                <div class="circle-progress-item">
                                    <div class="progress-content one">
                                        <h3>0</h3>
                                    </div>
                                    <h5>SEO Service</h5>
                                </div>
                                <div class="circle-progress-item">
                                    <div class="progress-content two">
                                        <h3>0</h3>
                                    </div>
                                    <h5>Copywriting</h5>
                                </div>
                                <div class="circle-progress-item">
                                    <div class="progress-content three">
                                        <h3>0</h3>
                                    </div>
                                    <h5>PPC</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="best-skills-image wow fadeInRight delay-0-2s">
                            <img src="{{ url_for('static', filename='assets/images/about/best-skills.jpg') }}" alt="Best Skills">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Support & Marketing Area start -->
        
        
        <!-- Team Area start -->
        <section class="team-page-area pb-65 rel z-1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="section-title text-center mb-50 wow fadeInUp delay-0-2s">
                            <span class="sub-title style-two mb-15">Equipo</span>
                            <h2>Miembros Experimentados</h2>
                        </div>
                    </div>
                </div>
                <ul class="team-filter filter-btns-two justify-content-center mb-30 wow fadeInUp delay-0-4s">
                    <li data-filter="*" class="current">Todos</li>
                    <li data-filter=".desiger">Diseñador</li>
                    <li data-filter=".developer">Desarrollador</li>
                    <li data-filter=".engineer">Técnico</li>
                    <li data-filter=".seo-expert">Experto en SEO</li>
                    <li data-filter=".logo-designer">Diseñador del Logo</li>
                </ul>
                <div class="row team-active justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 item developer seo-expert">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member1.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Richard C. Harrison</a></h5>
                                <span class="designation">Senior Manager</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item desiger logo-designer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member2.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Richard C. Harrison</a></h5>
                                <span class="designation">Web Developer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item engineer seo-expert">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member3.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Michael D. Jackson</a></h5>
                                <span class="designation">Business Developer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item desiger logo-designer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member4.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Damian S. Madison</a></h5>
                                <span class="designation">Product Designer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item developer engineer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member5.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Michael F. Stanton</a></h5>
                                <span class="designation">Business Consultant</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item engineer seo-expert">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member6.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Adam C. Holbrook</a></h5>
                                <span class="designation">Junior Product Manager</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item desiger seo-expert">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member7.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Melvin C. Olsen</a></h5>
                                <span class="designation">Graphics Designer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item developer engineer logo-designer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member8.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Steven F. Spicer</a></h5>
                                <span class="designation">Logo Designer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item desiger seo-expert">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member9.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Henry G. Hyman</a></h5>
                                <span class="designation">Support Engineer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item developer logo-designer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member10.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Charles V. Davenport</a></h5>
                                <span class="designation">Web Developer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item desiger engineer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member11.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Brian V. Jackman</a></h5>
                                <span class="designation">SEO Experts</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 item developer seo-expert logo-designer">
                        <div class="team-member">
                            <div class="image">
                                <img src="{{ url_for('static', filename='assets/images/team/member12.jpg') }}" alt="Member">
                            </div>
                            <div class="content">
                                <h5><a href="{{url_for('pages.team_profile_template')}}">Steven M. Colon</a></h5>
                                <span class="designation">Software Engineer</span>
                                <div class="social-style-one">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Area end -->
        
        
    {% block get_started %}
    {% include 'components/get_started.html' %}
    {% endblock get_started %}

    
{% endblock content %}