{% extends 'layout/base.html' %}

{% block title %} Tech Consulting | Terminos y Condiciones {% endblock %}

{% block styles %}
{{super()}}
{% endblock styles %}

{% block content %}

{% block page_banner %}
{% set pre_page_title = 'Términos y' %}
{% set page_title_underline = 'Condiciones' %}

{% include 'components/page-banner.html' %}
{% endblock page_banner %}


<!-- What We Do Two Area start -->
<section class="ww-do-two-area py-130 rel z-1">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-5 col-lg-12 w-100">
        <div class="ww-do-two-content rmb-65 wow fadeInUp delay-0-2s">
          <div class="section-title mb-30">
            <span class="sub-title style-two mb-15">Términos y Condiciones</span>
            <h2>Para Tech Consulting</h2>
          </div>
          <p>
            Bienvenido a Tech Consulting. Al acceder y utilizar nuestra aplicación, usted acepta y está sujeto
            a los siguientes términos y condiciones. Por favor, lea estos términos cuidadosamente antes de utilizar
            nuestros servicios.
          </p>
          <p>
            Tech Consulting es una empresa mexicana que ofrece servicios de consultoría de software a empresas de toda América Latina. Estos términos y condiciones (en adelante, los "Términos") rigen el uso de los servicios de Tech Consulting por parte de sus clientes (en adelante, el "Cliente").
          </p>
          <div class="row pt-15">

            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Uso de la Aplicación</h5>
                <p>
                  Tech Consulting es una plataforma que proporciona consultoria y productos web. Se le
                  concede una licencia limitada, no exclusiva e intransferible para utilizar los servicios de Google
                  OAuth 2.0 para SSO con Google con movitos educativos demostrativos.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Registro y Seguridad de la Cuenta</h5>
                <p>
                  Para utilizar ciertas funciones de nuestra aplicación, puede ser necesario que se registre y cree una
                  cuenta. Al crear una cuenta, se compromete a:
                </p>
                <ul class="list-style-two my-15">
                  <li>Proporcionar información veraz y completa.</li>
                  <li> Mantener la seguridad de su contraseña.</li>
                  <li>Aceptar toda la responsabilidad por todas las actividades que ocurran bajo su cuenta.</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Privacidad</h5>
                <p>
                  Nuestra Política de Privacidad describe cómo recopilamos, usamos y compartimos su información
                  personal. Al usar Tech Consulting, usted acepta nuestra Política de Privacidad.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Conducta del Usuario</h5>
                <p>
                  Usted es responsable de toda la actividad en relación con el servicio y de actuar de acuerdo con la
                  ley, este acuerdo y las buenas costumbres.
                </p>

                <ul class="list-style-two my-15">
                  <li><strong>Respetar los Derechos de Autor</strong>: No infrinja los derechos de autor, marcas
                    registradas u otros
                    derechos de propiedad intelectual con su contenido publicado o con el trabajo que realice a través
                    de nuestra plataforma.</li>
                  <li><strong>Comunicación Profesional</strong>: Mantenga siempre una
                    comunicación profesional y respetuosa con otros usuarios, colaboradores y el personal de la
                    plataforma.</li>
                  <li><strong>No Divulgación de Información</strong>: No comparta ni divulgue información confidencial o
                    privada de otros usuarios o de la plataforma sin el consentimiento previo por escrito.</li>
                  <li><strong>Uso Legítimo de los Servicios</strong>: Utilice los servicios de la plataforma solo para
                    fines legítimos y en línea con su propósito de diseño web y UI/UX.</li>
                  <li><strong>No a la Actividad Maliciosa</strong>: No participe en actividades que interfieran con el
                    funcionamiento de la plataforma o que intenten acceder a ella de manera no autorizada.</li>
                  <li><strong>Prohibición de Contenido Inapropiado</strong>: No publique contenido que sea ilegal,
                    ofensivo, difamatorio, pornográfico, que incite al odio o que sea de otra manera inapropiado.</li>
                  <li><strong>Responsabilidad sobre el Contenido</strong>: Asuma la responsabilidad completa por el
                    contenido que publique, incluyendo la precisión de cualquier consejo o recomendación de diseño
                    web/UI/UX.</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Servicios</h5>
                <li><strong><h5>Tech Consulting ofrece una amplia gama de servicios de consultoría de software, incluyendo:</h5></li>
                <p>
                  Análisis de necesidades: Tech Consulting puede evaluar las necesidades de software del Cliente y recomendar soluciones adecuadas.
                  Diseño e implementación de software: Tech Consulting puede diseñar e implementar soluciones de software personalizadas para las necesidades del Cliente.
                  Integración de sistemas: Tech Consulting puede integrar los sistemas de software existentes del Cliente con nuevas soluciones.
                  Soporte y mantenimiento: Tech Consulting puede proporcionar soporte técnico y mantenimiento para las soluciones de software del Cliente.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <li><strong><h5>Derechos y responsabilidades del Cliente:</h5></li>
                <p>
                  El Cliente tiene derecho a:
                  Recibir los servicios de Tech Consulting de manera profesional y competente.
                  Ser informado sobre el progreso de los servicios.
                  Aprobar cualquier cambio en el alcance o costo de los servicios.
                  El Cliente es responsable de:
                  
                  Proporcionar a Tech Consulting toda la información y el acceso necesario para prestar los servicios.
                  Pagar los honorarios de Tech Consulting de acuerdo con los términos acordados.
                  Usar los servicios de Tech Consulting de manera legal y ética.
                </p>
              </div>
            </div>


            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Derechos y responsabilidades de Tech Consulting</h5>
                <p>
                  Tech Consulting tiene derecho a:

                  Ser pagado por sus servicios de acuerdo con los términos acordados.
                  Ser indemnizado por el Cliente por cualquier daño o pérdida que sufra como resultado de la negligencia o el incumplimiento del Cliente de estos Términos.
                  Tech Consulting es responsable de:
                  
                  Prestar los servicios de manera profesional y competente.
                  Mantener la confidencialidad de la información del Cliente.
                  Proteger la propiedad intelectual del Cliente.
                </p>
              </div>
            </div>


            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Propiedad Intelectual</h5>
                <p>
                  Toda la propiedad intelectual desarrollada por Tech Consulting en el curso de la prestación de los servicios será propiedad de Tech Consulting. El Cliente tendrá una licencia no exclusiva para usar dicha propiedad intelectual para sus fines comerciales internos.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5>Confidencialidad</h5>
                <p>
                  Tech Consulting se compromete a mantener la confidencialidad de toda la información del Cliente que obtenga en el curso de la prestación de los servicios.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two border-right pe-sm-3">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5> Garantías</h5>
                <p>
                  Tech Consulting no ofrece ninguna garantía sobre los servicios, excepto que se prestarán de manera profesional y competente.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5> Limitación de responsabilidad</h5>
                <p>
                  La responsabilidad total de Tech Consulting por cualquier daño o pérdida que sufra el Cliente como resultado de la prestación de los servicios se limita al importe de los honorarios pagados por el Cliente por dichos servicios.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5> Resolución de disputas </h5>
                <p>
                  Cualquier disputa que surja de estos Términos se resolverá mediante arbitraje de acuerdo con las reglas de la Cámara Nacional de Comercio de México.

                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5> Disposiciones generales </h5>
                <p>
                  Estos Términos se rigen por las leyes de México. Cualquier modificación a estos Términos debe ser por escrito y firmada por ambas partes.
                </p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="feature-item-two color-two">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h5> Aceptación de los Términos </h5>
                <p>
                  El uso de los servicios de Tech Consulting implica la aceptación de estos Términos.

                  Contacto
                  
                  Si tiene alguna pregunta sobre estos Términos, puede contactarnos a:
                  
                  Tech Consulting
                  
                  Etica 93. Col. Maravillas CP 57440, Ciudad Nezahualcóyotl, Estado de México
                  
                  5516904011
                  
                  info@techconsulting.com
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- What We Do Two Area end -->

{% block get_started %}
{% include 'components/get_started.html' %}
{% endblock get_started %}

{% endblock content %}