{% extends 'layout/base-admin.html' %}

{% block title %} | Usuarios {% endblock %}

<script> const userIconSrc = "{{url_for('static',filename='modules/imgs/userCrud/image/ProfileIcon.webp')}}" </script>

{% block scripts %}

{{super()}}
<script src="{{url_for('static',filename='modules/js/userCrud/app.js')}}" defer></script>
{% endblock scripts %}

{% block styles %}

{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='modules/styles/admin/cruds.css')}}">
{% endblock styles %}

{% block content %}


<section class="ww-do-two-area py-130 rel z-1 px-5">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newformModal"
                style="display: flex; align-items: center; gap: 5px;">Nuevo Usuario<i
                    class="material-icons">group</i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover mt-3 text-center table-bordered">
                <thead>
                    <tr>
                        <th>Núm. reg.</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="data">
                    {% for usuario in usuarios %}
                    <tr>
                        <td class="col-1">
                            {{ loop.index }}
                        </td>
                        <td class="col-2">
                            <img src="{{ url_for('user_crud.obtener_imagen_usuario', id_usuario=usuario.get('id')) }}"
                                alt="{{ usuario.get('image_name', 'Imagen del producto') }}" width="50" height="50">
                        </td>
                        <td class="col-1">
                            {{ usuario.get('nombre_usuario', 'Nombre de usuario no disponible') }}
                        </td>
                        <td class="col-2 td-text">
                            {{ usuario.get('email', 'Correo de usuario no disponible') }}
                        </td>
                        <td class="col-2 td-text">
                            ********************************
                        </td>
                        <td class="col-2 td-text">
                            {% if usuario.get('admin') == 0 %}
                            Usuario
                            {% elif usuario.get('admin') == 1 %}
                            Administrador
                            {% else %}
                            Rol de usuario no disponible
                            {% endif %}
                        </td>
                        <!-- Dentro del bloque de iteración -->
                        <td class="col-1">
                            <button class="btn btn-success leerDataBtn" data-usuario-id="{{ usuario.get('id') }}"><i
                                    class="bi bi-eye"></i></button>
                            <button class="btn btn-primary editDataBtn" data-usuario-id="{{ usuario.get('id') }}"><i
                                    class="bi bi-pencil-square"></i></button>
                        </td>
                    </tr>
                    <div id="productos"></div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal para nuevos Usuario -->
<div class="modal fade a productos_form_modal" id="newformModal" tabindex="-1" aria-labelledby="newformModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Usuario</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formNuevoUsuario" class="needs-validation" novalidate>
                    <div class="col-md-3">
                        <section class="image__container">
                            <div class="profile-modal-img__container">
                                <div class="card imgholder">
                                    <label for="imgInput" class="upload">
                                        <input type="file" name="" id="imgInput">
                                        <i class="material-icons">edit</i>
                                    </label>
                                    <div class="picture-profile-modal-loade__container display-none"
                                        id="picture-profile-modal-loader">
                                    </div>
                                    <i class="material-icons person-icon-profile-picture-modal"
                                        aria-label="Profile picture">person</i>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <section class="form__container">
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input type="text" id="usernameInput" class="form-control" aria-label="Sizing input"
                                        aria-describedby="inputGroup-sizing-sm" placeholder="Nombre de Usuario"
                                        required>
                                    <label for="nombre">Nombre del Usuario</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa el nombre del Usuario.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input id="emailInput" type="email" class="form-control" aria-label="Sizing input"
                                        aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa un Correo."
                                        required>
                                    <label for="descripcion_breve">Correo</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa un Correo.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component auth-pass-inputgroup">
                                <div class="form-floating mb-3">
                                    <input id="passwordInput" type="password" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Agrega una breve descripcion del producto" required>
                                    <label for="descripcion_breve">Contraseña</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa una Contraseña.
                                    </div>
                                </div>
                                <button type="button" id="ver" class="btn btn-secondary password-addon"><i id="icono"
                                        class="material-icons" style="color: black;">visibility</i></button>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <legend class="col-form-label col-mb-2 pt-0">Rol</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " type="radio" name="Usuario" id="rolUs"
                                                value="0" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Usuario
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Usuario" id="rolAdmin"
                                                value="1">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Administrador
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" id="btnGuerdaNP" class="btn btn-primary submit">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para consultar Usuario -->
<div class="modal fade a productos_form_modal" id="leerModal" tabindex="-1" aria-labelledby="newformModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Usuario</h4>
                <p class="fs-2 align-bottom" id="lecturaUsuarioParagraph" style="margin-top: 15px;"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="forUsuario" class="needs-validation" novalidate>
                    <div class="col-md-3">

                        <section class="image__container">
                            <div class="profile-modal-img__container">
                                <div class="card imgholder">
                                    <!-- Aquí se mostrará la imagen -->
                                    <img id="UsuarioImage" src="" alt="Imagen del producto"
                                        style="width: 100%; height: auto;" />
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <section class="form__container">
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input type="text" id="lecturausernameInput" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Nombre de Usuario" readonly>
                                    <label for="nombre">Nombre del Usuario</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa el nombre del Usuario.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input id="lecturaemailInput" type="email" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Ingresa un Correo." readonly>
                                    <label for="descripcion_breve">Correo</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa un Correo.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component auth-pass-inputgroup">
                                <div class="form-floating mb-3">
                                    <input id="lecturapasswordInput" type="password" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Agrega una breve descripcion del producto"
                                        value="********************************" readonly>
                                    <label for="descripcion_breve">Contraseña</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa una Contraseña.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <legend class="col-form-label col-mb-2 pt-0">Rol</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " type="radio" name="Usuario"
                                                id="lecturarolUs" value="0" disabled>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Usuario
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Usuario"
                                                id="lecturarolAdmin" value="1" disabled>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Administrador
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Productos -->
<div class="modal fade a productos_form_modal" id="editformModal" tabindex="-1" aria-labelledby="newformModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Usuario </h4>
                <p class="fs-2 align-bottom" id="editUsuarioParagraph" style="margin-top: 15px;"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditPro" class="needs-validation" novalidate>
                    <div class="col-md-3">
                        <section class="image__container">
                            <div class="profile-modal-img__container">
                                <div class="card imgholder">
                                    <label for="imgInput" class="upload">
                                        <input type="file" name="" id="imgInput">
                                        <i class="material-icons">edit</i>
                                    </label>
                                    <div class="picture-profile-modal-loade__container display-none"
                                        id="picture-profile-modal-loader">
                                    </div>
                                    <i class="material-icons person-icon-profile-picture-modal"
                                        aria-label="Profile picture">person</i>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-9">
                        <section class="form__container">
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input type="text" id="editusernameInput" class="form-control"
                                        aria-label="Sizing input" aria-label="Sizing input"
                                        aria-describedby="inputGroup-sizing-sm" placeholder="Nombre de Usuario"
                                        >
                                    <label for="nombre">Nombre del Usuario</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa el nombre del Usuario.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <input id="editemailInput" type="text" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Ingresa un Correo.">
                                    <label for="descripcion_breve">Correo</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa un Correo.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component auth-pass-inputgroup">
                                <div class="form-floating mb-3">
                                    <input id="editpasswordInput" type="password" class="form-control"
                                        aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
                                        placeholder="Agrega una breve descripcion del producto"
                                        value="********************************" readonly>
                                    <label for="descripcion_breve">Contraseña</label>
                                    <div class="invalid-feedback">
                                        Por favor ingresa una Contraseña.
                                    </div>
                                </div>
                            </div>
                            <div class="input-component">
                                <div class="form-floating mb-3">
                                    <legend class="col-form-label col-mb-2 pt-0">Rol</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " type="radio" name="Usuario" id="editrolUs"
                                                value="0">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Usuario
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Usuario"
                                                id="editradioAdmin" value="1">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Administrador
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="editIDUsuario" name="id_usuario" readonly>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" id="btnActualizaP" class="btn btn-primary submit">Actualizar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}